[2015-01-30 05:24] CodySwannGT opened #1 "Where should the value of the "$Prize" field be displayed?"
This was not addressed in the specs

[2015-01-30 05:25] CodySwannGT opened #2 "How do you change your Public/Private setting?"
This was not addressed in the specs

[2015-01-30 05:25] CodySwannGT opened #3 "How do I change my Avatar?"
This was not addressed in the specs

[2015-01-30 05:26] CodySwannGT opened #4 "Scrolling on Alerts Tab triggers a tap on individual alerts"

[2015-01-30 05:27] CodySwannGT opened #5 "How do I leave a photo comment?"
This was not addressed in the specs

[2015-01-30 05:28] CodySwannGT opened #6 "App Design of "Choose an Outcome" does not match design of mock"

[2015-01-31 00:37] CodySwannGT opened #7 "TW fails to create if you select a user from your Address Book without a phone number"
If mobile phone number doesn't exist or is invalid, pass an email address parameter instead.

If neither is available, don't show contact as an option

[2015-01-31 01:20] CodySwannGT opened #8 "What are the specs for the various on-boarding scenarios?"
Currently, there is a hole in the specs:

Right now, when you create a ThumbWar, the "who" field populates with three forms of data:

1) Your Thumbwar Friends
2) People from your Address Book
3) Your Facebook friends who are on Facebook

The first scenario is clear what happens.

But what happens when we select someone from the other two scenarios?

[2015-01-31 01:20] CodySwannGT opened #9 "How to I follow/unfollow another user?"
This was not addressed in the spec. Nor is there anyway to search for a user

[2015-01-31 01:21] CodySwannGT commented on #3
This was not addressed in the specs

[2015-01-31 01:21] CodySwannGT commented on #2
This was not addressed in the specs

[2015-01-31 01:21] CodySwannGT commented on #1
This was not addressed in the specs

[2015-01-31 01:21] CodySwannGT opened #10 "How do I change my profile to "Grid View"?"
This was not addressed in the specs

[2015-01-31 01:22] CodySwannGT opened #11 "How do I view another user's profile?"
This was not addressed in the specs

[2015-01-31 01:23] CodySwannGT opened #12 "If I'm looking at a ThumbWar that Josh created with Bob as the opponent, where do I see Bob's name?"
This was not addressed in the specs

[2015-01-31 01:24] CodySwannGT opened #13 "When I open the app from a cold start, the "Home" tab loads and the avatars for the first thumbwar load, but the avatars for the second thumbwars don't load until I scroll"

[2015-01-31 01:25] CodySwannGT opened #14 "How do I create a photo comment?"
This was not addressed in the specs

[2015-01-31 01:26] CodySwannGT opened #15 "Group Alerts per spec"

[2015-01-31 01:29] CodySwannGT commented on #5
This was not addressed in the specs

[2015-01-31 01:31] CodySwannGT opened #16 "The design of the choose a winner screen should match the design"

[2015-01-31 01:31] CodySwannGT opened #17 "How do I change or add a photo to a TW after it's created?"
This was not addressed in the specs

[2015-01-31 01:35] CodySwannGT opened #18 "What do we do if there is an actual push?"
Right now, the spec says:

"If the challenger and the opponent agree on the outcome, that is the outcome. If they don't agree, it's a push"

The options are "Challenger Won" and "Opponent Won"

What happens if there is an actual push?

Right now, the two sides would have to differ in order for that to become a reality.

Shouldn't there be a third option "Push" that both sides can choose?

[2015-01-31 01:36] CodySwannGT opened #19 "Are there any safeguards against dumbasses?"
The way the spec has it drawn up, I can accept any and all challenges and never get a loss just by disagreeing with the outcome that the creator chose.

Is that OK?

[2015-01-31 01:37] CodySwannGT opened #20 "How can I find ThumbWars that I haven't been accepted or rejected?"
This was not addressed in the specs

[2015-01-31 01:38] CodySwannGT opened #21 "Should be able so submit video or photo with a thumbwar"

[2015-01-31 01:39] DaryMerckensGT commented on #19
"If the challenger and the opponent agree on the outcome, that is the outcome. If they don't agree, it's a push"

Did I miss a new version of the spec? Because that's the dumbest fucking thing I've ever heard.

[2015-01-31 01:40] DaryMerckensGT commented on #18
"If the challenger and the opponent agree on the outcome, that is the outcome. If they don't agree, it's a push"

Did I miss a new version of the spec? Because that's the dumbest fucking thing I've ever heard.

[2015-01-31 01:42] CodySwannGT commented on #18
It's a bit hard to tell because there is a lot in the specs that doesn't have a mock but this is what we were going off of: https://www.dropbox.com/s/c09pgfgings2b1d/Screenshot%202015-01-30%2020.41.59.png?dl=0

[2015-01-31 01:45] CodySwannGT opened #22 "How to we make alerts like in the spec?"
There are a lot of items in the spec like this:

https://www.dropbox.com/s/mu0sl9xymonv7t7/Screenshot%202015-01-30%2020.45.13.png?dl=0

Have you guys ever seen an app do that? We're having a tough time figuring that out.

[2015-01-31 01:47] CodySwannGT opened #23 "How do we implement the buttons on this screen?"
This was not addressed in the mocks or design

![screenshot 2015-01-30 20 46 05](https://cloud.githubusercontent.com/assets/292923/5986307/35e80a96-a8c1-11e4-872c-b81ad2fa90de.png)

[2015-01-31 02:53] CodySwannGT opened #24 "App allows blank comments to be submitted"
![image](https://cloud.githubusercontent.com/assets/292923/5986550/76efd308-a8ca-11e4-8d54-10e2f815db82.jpg)

[2015-01-31 02:58] CodySwannGT opened #25 "Alert count should go to 0 and disappear when opening the app"
![image](https://cloud.githubusercontent.com/assets/292923/5986569/19e9ae44-a8cb-11e4-99f1-bfdce80a5f98.jpg)

[2015-01-31 04:49] CodySwannGT opened #26 "Create alerts for "Your Facebook friend 'xyz' joined Thumbwar""

[2015-01-31 05:07] CodySwannGT opened #27 "Document iOS developer onboarding and operations process"

[2015-01-31 05:36] CodySwannGT opened #28 "Usernames should be unique"

[2015-01-31 05:41] CodySwannGT opened #29 "Can't submit comment or dismiss keyboard on iPhone 5(s)"
![img_4363](https://cloud.githubusercontent.com/assets/292923/5986978/e3c1a666-a8e1-11e4-9536-6294c92222ba.PNG)
![img_4362](https://cloud.githubusercontent.com/assets/292923/5986979/e616eab6-a8e1-11e4-831e-555b426f3f68.PNG)

[2015-01-31 05:44] CodySwannGT opened #30 "App crashes when clicking into the "Who Field""

[2015-01-31 05:47] CodySwannGT opened #31 "Clicking ellipses on war detail causes app to crash"
In the pictured screen shot, the user clicking the dots was not involved at all with the TW, so they shouldn't even see it.

![img_4365](https://cloud.githubusercontent.com/assets/292923/5986997/a8998184-a8e2-11e4-8775-66fc13a1a06f.PNG)

[2015-01-31 05:59] CodySwannGT opened #32 "App crashed when a user allowed contact book access for the first time"

[2015-01-31 06:22] CodySwannGT opened #33 "Choosing "Won" or "LOST" from the dropdown on the profile screen results in 0 thumbwars being shown"

[2015-01-31 06:58] #33 closed

[2015-01-31 06:58] CodySwannGT commented on #33
Was an API issue

[2015-01-31 07:18] CodySwannGT opened #34 "How can I tell who won a Thumbwar?"
This wasn't in the spec

[2015-01-31 14:00] adamespn commented on #30
Pushed a potential fix to AppDelegate

[2015-02-01 03:32] CodySwannGT opened #35 "How do we handle a thumbwar with a white photo?"
This wasn't in teh spec, but any photo with white in it hides the text..

[2015-02-01 03:33] CodySwannGT opened #36 "Why are we allowing a photo to be uploaded WITH a thumbwar?"
Not sure I understand the purpose here.

I thought the photo/video was "proof" - if so, why allow it to be uploaded with the initial challenge?

[2015-02-01 03:37] CodySwannGT opened #37 "Thumbwar fails to get created under these conditions"
1) Fill in what
2) Fill in "who"
3) Leave "Prize" blank
4) Hit submit
5) App warns you about validations errors
6) Enter "Prize"
7) Hit submit
8) App says thumbwar is created, but never shows up

[2015-02-01 04:08] adamespn commented on #37
Does never mean never, like after a pull to refresh or quitting (home home  swipe up) app and running again?

[2015-02-01 04:12] CodySwannGT commented on #37
Yes. Never means never.

Additionally, the two pickers unhide themselves. I tried to fix that with
some code cleanup, but no joy.

On Sat, Jan 31, 2015 at 11:08 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message,

[2015-02-01 04:17] adamespn commented on #37
Ok. If it says it created a war then that means the server responded appropriately. Maybe just a problem with the war data.

[2015-02-01 04:22] adamespn commented on #37
When do pickers unhide themselves? And is it during POST or during TUTORIAL?

[2015-02-01 05:27] CodySwannGT opened #38 "As the challeger/creator or a TW (or the opponent) should you be allowed to also take a side?"
This wasn't addressed in the spec.

[2015-02-01 05:29] CodySwannGT opened #39 "Should you be able to change sides in a thumbwar? If so, how?"
This isn't addressed in the spec.

[2015-02-01 05:32] CodySwannGT opened #40 "When I scroll up and down on feeds, sometimes the bet text gets jumbled and appears vertical"
It's tough to reproduce sometimes. But keep scrolling and it'll happen.

![img_4753](https://cloud.githubusercontent.com/assets/292923/5991163/c8991806-a9a9-11e4-802b-8e29ab2f8da4.PNG)

[2015-02-01 05:41] adamespn commented on #35
That was mentioned as a possibility - need a design decision - not a bug

[2015-02-01 05:42] adamespn commented on #31
I believe you should still see the war result - probably just a bug checking player 1 and player 2 against the current player

[2015-02-01 05:42] CodySwannGT opened #41 "When I get a challenge from someone, it pops open automatically in the app, per spec, but shouldn't I be able to see who it's from?"
![img_4754](https://cloud.githubusercontent.com/assets/292923/5991185/316ca23e-a9ab-11e4-8808-b590ba1b8883.PNG)

[2015-02-01 05:43] DaryMerckensGT opened #42 "App crashes when creating a Thumbwar."
Input values:
  What => "something"
  @Who => "Cody Swann" (Type "C", select "Cody Swann FB")
  $Prize => "food"

Hit "DECLARE WAR" and app closes out.

[2015-02-01 05:43] adamespn commented on #7
Such users should not be displayed in the dropdown - will look into it

[2015-02-01 05:49] adamespn commented on #42
probably a dupe of #32 but let's leave this one open for now

[2015-02-01 05:59] #28 closed

[2015-02-01 06:05] CodySwannGT commented on #16
Duplicate of #6

[2015-02-01 06:05] #16 closed

[2015-02-01 06:07] CodySwannGT commented on #29
We never got design for submitting comments, so we did what we could, but there are clearly bugs.

This is actually a hard bug to fix, so before we go down that road, I'm wondering if our comment design is even acceptable.

[2015-02-02 02:32] #7 closed

[2015-02-02 02:32] CodySwannGT commented on #37
I think it's better if you just go through the steps. It replicates every time.

[2015-02-02 02:37] CodySwannGT commented on #13
It says like this until you scroll:

![img_4761](https://cloud.githubusercontent.com/assets/292923/5995182/70028338-aa5a-11e4-844a-625db1b6e962.PNG)

[2015-02-02 04:45] #37 closed

[2015-02-02 04:45] #42 closed

[2015-02-02 05:35] #4 closed

[2015-02-02 05:57] #40 closed

[2015-02-02 18:44] adamespn commented on #24
fix pushed

[2015-02-02 18:45] adamespn commented on #13
fix pushed

[2015-02-02 18:52] adamespn commented on #25
fix pushed

[2015-02-02 18:53] #25 closed

[2015-02-02 18:53] #24 closed

[2015-02-03 19:21] #6 closed

[2015-02-04 01:40] CodySwannGT opened #43 "Files are taking too long to upload"
I believe this is because we are converting all files to pngs, which is increasing their size exponentially and the heroku servers timeout uploading them. Let's change it to a jpeg with compression.

[2015-02-04 01:42] adamespn commented on #43
Can you post some typical sizes of these files?

[2015-02-04 01:43] #43 closed

[2015-02-04 01:43] CodySwannGT commented on #43
Simple fix. And it worked as expected. Upload times are now down about 120%.

[2015-02-04 01:45] CodySwannGT commented on #13
This is still happening. The image loads but the challenger avatar never does.

![img_4783](https://cloud.githubusercontent.com/assets/292923/6033586/8c650eec-abe5-11e4-8a1f-eb28396daf1f.PNG)

[2015-02-04 01:46] adamespn commented on #43
Does have heroku have any SLAs around this kind of stuff?

[2015-02-04 01:47] CodySwannGT commented on #43
https://devcenter.heroku.com/articles/request-timeout

On Tue, Feb 3, 2015 at 8:46 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is in

[2015-02-04 01:48] adamespn commented on #13
That description does not sound the same as the original bug report. Open a new bug, maybe?

[2015-02-04 01:50] CodySwannGT commented on #13
It's exactly the same.

This is the original description: When I open the app from a cold start,
the "Home" tab loads and the avatars for the first thumbwar load, but the
avatars for the second thumbwars don't load until I scroll.

That is still exactly what's happening. The first thumbwar - both avatar
images load - the second thumbwar - only one avatar image loads until I
scroll.

On Tue, Feb 3,

[2015-02-04 01:52] adamespn commented on #13
"The image loads but the challenger avatar 'never'

Versus

[2015-02-04 01:55] CodySwannGT commented on #13
To clarify - I meant "the background image loads but the avatar image never
does"

I was just adding info that the background image loads but that the avatar
image still does not load.

On Tuesday, February 3, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.s

[2015-02-04 02:41] adamespn commented on #13
OK. Is this statement correct?

The original bug report was not a complaint that thumbwars that are not yet visible do not preload images.

The original bug report refers to a war that is at least partially visible.

In this case the (partially) visible war appears to be loading images - then does, in fact load one or more images - but does not load all visible images until the user scrolls.

[2015-02-04 02:49] CodySwannGT commented on #13
Correct. The ThumbWars in the screen captures that are seen trying to load
the avatar images are the second ThumbWars in the list.

The screen cap is taken after loading the app with absolutely no
interaction.

On Tuesday, February 3, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunn

[2015-02-04 21:20] CodySwannGT opened #44 "Logic for Accepted and Rejecting challenges is in correct"
This needs to get fixed ASAP.

In BetResponse.swift, you are setting the status of the thumbwar object itself as "accepted" or "rejected".

This is actually a clear violation of the API.

The valid parameters for a PUT /thumbwars/:id are:

:challenger_id
:body
:expires_in
:wager
:opponents_proposed_outcome (enum 'win' | 'loss' ) (defaults to nil)
:challengers_proposed_outcome (enum 'win' | 'loss'

[2015-02-04 21:23] CodySwannGT opened #45 "Bet Response should have the names of the actual participants"
Right now, it just says "User 1" and "Opponent"

The buttons should have:

"Cody Swann"

"Adam Meikle"

![img_4813](https://cloud.githubusercontent.com/assets/292923/6049997/29d101f0-ac8a-11e4-82b0-640b0531ff3c.PNG)

[2015-02-05 00:14] adamespn commented on #45
It was broken, although I don't see how it could have said "User 1" or "Opponent" so we might need to track that down. Fix applied (not pushed yet)

[2015-02-05 00:16] adamespn commented on #44
No problem. In the future, having a specific set of use cases and clearly tying the specific sequence of API calls to each use case would prevent any confusion or "illegal" use of API calls, which is critical, especially in cases where making the "wrong" call produces the expected result, as this call does. The ios-client change will get pushed later today.

[2015-02-05 00:20] CodySwannGT commented on #44
I agree with that.

On Wed, Feb 4, 2015 at 7:16 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the indi

[2015-02-05 00:25] adamespn commented on #13
Still doing an RCA on this. I can't tell if this is a "repaint" problem or if there is a race condition.
Multiple threads are taking action within milliseconds from each other, so it's hard to pin down.

[2015-02-05 04:04] adamespn commented on #44
fixed and committed, not pushed or tested

[2015-02-05 04:05] adamespn commented on #45
committed, not pushed or tested

[2015-02-06 15:00] smummolo commented on #41
Yes definitley - "your friend" should be he users name...

[2015-02-06 15:01] smummolo commented on #39
Yes - just tap the other one

[2015-02-06 17:19] smummolo commented on #36
its fun. this was an attempt to add a visual element to make the posts more interesting from the beginning

The proof image use case is if the challenge is happening RIGHT NOW (edge case i suppose)

[2015-02-06 17:19] smummolo commented on #38
yes, just like you can "like" your own posts on fb or insta - i think its douchey, but not worth limiting

[2015-02-06 17:21] smummolo commented on #23
do you need a visual design for this screen? (sorry if it was left out)
The intention was that this is an overlay alert that tells the user who won the challenge and presents them with options for next steps.

[2015-02-06 17:23] smummolo commented on #22
if these style alerts are proving too challenging (or we were high when we imagined them) - the main idea is that alerts happen - if implementing standard iOS app alerts with custom language is more doable then lets do that - the alerts can just drive the user back to their notifications screen to take action

[2015-02-06 17:23] smummolo commented on #18
yes thats smart and im dumb for not building that in.

[2015-02-06 17:24] smummolo commented on #11
should be able to tap their icon or name to go to their profile

[2015-02-06 17:25] smummolo commented on #9
this was left out in this version (though its important to get to later) the idea was to really strip this mvp down to basics for now and this didnt make the cut

[2015-02-06 17:25] smummolo commented on #3
you cant yet - not core to mvp

[2015-02-06 17:25] smummolo commented on #5
you cant yet - not core to mvp

[2015-02-06 17:26] smummolo commented on #2
tapping on the 3 dots (as the owner of the war) should essetially take you back to the authoring screen to edit that setting - for now you shouldnt be able to change anything else on that screen, but if thats too hard to limit, then we should at least notify the other party that a change has been made and prompt them to accept the war again

[2015-02-06 17:27] CodySwannGT commented on #9
Ok. So what's the difference between the globe and home tab?

On Friday, February 6, 2015, smummolo <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, i

[2015-02-06 17:27] smummolo commented on #1
We should have included that in the post view in the stream - let me talk to randy , good catch

[2015-02-06 17:28] smummolo commented on #9
for right now - global is all public wars, home is wars you are involved in. this is not the intended final functionality just the basic first step

[2015-02-06 17:28] CodySwannGT commented on #9
Gotcha.

On Friday, February 6, 2015, smummolo <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the individual or enti

[2015-02-06 17:28] smummolo commented on #34
there should be an indicator in the post once its resolved, i thought this was in the deliverables as a state but ill check with randy and see if we missed it.

[2015-02-06 17:31] smummolo opened #46 "YES / NO Buttons"
the words "yes" / "no" are confusing because they seem to answer a questions - i know this has been an issue that we've been wrestling with forever.

What do you think about just making the buttons Green (check) / Red (x) for now and losing the words all together?

Alternate would be to put a simple instruction above the buttons: "Do you accept this war?" in fact - that might work great - thoughts

[2015-02-07 17:00] DaryMerckensGT commented on #46
Search your email archive for an email with the subject line "FW: **TW Designs" where we had an extended discussion about this very topic. My view is summed up by this reply of mine:

[2015-02-07 19:13] adamespn commented on #46
What's wrong with

"George Washington has challenged you to a thumbwar. Do you accept?"

....
Details
...

"I accept! Bring it!"
"No way! What fool would take that bet?"

[2015-02-08 04:07] CodySwannGT commented on #46
I don't think it matters what we go with here.

Per Steve's previous statements, it is assumed that the challenger and the opponent have other recourse outside of thumbwar to clarify and understand each other, so the way I see this going is:

To Steve:

"Cody has challenged you to a thumbwar. Do you accept?"

"The Red Sox didn't have a black player until the 1970s"

"I accept! Bring it!"
"No way!

[2015-02-08 12:02] adamespn commented on #46
Cody to Dary: "What the hell is the matter with these people. Why did they put hippo and pony on here?"

Dary to Cody: "I don't know man, it took me forever to figure that out the first time. I think these people are crazy"

[2015-02-08 15:36] CodySwannGT commented on #46
Ok. So let's do this:

@smummolo - can you have Randy mock up what you have in mind and we'll go with that to at least get out of the gate. Then deal with any confusion from public feedback.

[2015-02-08 15:37] CodySwannGT commented on #34
Ok. Great. Can you attach it to this ticket when you get it?

[2015-02-08 15:38] CodySwannGT commented on #1
Awesome. Please attach the mock or link to the mock here she you get it. Thanks

[2015-02-08 15:43] CodySwannGT commented on #2
So obviously only the creator of the TW can edit the thumbwar. that much I know.

But which ellipses are you referring to?

Right now, clicking the ellipses in feed mode takes you to detail view.

Clicking ellipses in detail mode either opens the "pick winner" screen or alerts you that the TW still is pending.

So can you explain under what conditions clicking the ellipses takes you to the edit sc

[2015-02-08 15:47] CodySwannGT commented on #11
Is this universal? Everywhere you see someone's name, clicking it should take you to their profile?

I ask cause that might get dicey on the alerts screen and the profile screen where we have tap events on the cells themselves kinda thing.

Totally possible programmatically but didn't know if you want that fine level of tapping.

[2015-02-08 15:49] CodySwannGT commented on #39
@adamespn - is that enough info to plan out? Do you need more detail from Steve?

[2015-02-08 15:49] #38 closed

[2015-02-08 15:50] #30 closed

[2015-02-08 15:50] #32 closed

[2015-02-08 15:50] #14 closed

[2015-02-08 15:51] #31 closed

[2015-02-08 15:52] CodySwannGT commented on #41
@adamespn - anything else you need to know here?

[2015-02-08 15:53] CodySwannGT commented on #35
@smummolo - got anything?

[2015-02-08 15:54] CodySwannGT commented on #29
@smummolo - got anything?

[2015-02-08 15:56] CodySwannGT commented on #23
Yeah. Definitely would like a design of possible.

Also a description of how a user gets to this screen and what happens when each button is clicked.

[2015-02-08 15:56] #22 closed

[2015-02-08 15:58] CodySwannGT commented on #20
@smummolo - just for clarification - this was mentioned as a pain point - being able to quickly find TWs that require a response.

If this isn't core to mvp, that's fine. Just making sure.

[2015-02-08 15:59] CodySwannGT commented on #19
@smummolo - I'm fine with closing. Just something I thought of.

[2015-02-08 16:00] CodySwannGT commented on #18
Ok cool. So do you want to leave as is for MVP?

[2015-02-08 16:00] CodySwannGT commented on #12
@smummolo - leave out for mvp?

[2015-02-08 16:01] CodySwannGT commented on #10
@smummolo leave out for MVP?

[2015-02-08 16:02] CodySwannGT commented on #8
@smummolo - got anything?

[2015-02-09 13:33] smummolo commented on #46
Yep

On Feb 8, 2015, at 7:36 AM, Cody Swann <notifications@github.com> wrote:

Ok. So let's do this:

@smummolo - can you have Randy mock up what you have in mind and we'll go with that to at least get out of the gate. Then deal with any confusion from public feedback.

—
Reply to this email directly or view it on GitHub.

[2015-02-09 17:11] smummolo commented on #35
sorry been off the grid - getting back into this today - simplest solution is to overlay a semi transparent black gradient over every image but we'll need to send you mocks / assets for this to explain - it wont be noticeable in dark images but will provide enough contrast on light images if implemented correctly to always be able to read the text - ill add it to randy's list

[2015-02-10 02:51] CodySwannGT opened #47 "The circular avatars on completed TWs should be live and go to a profile"
The circular avatars on completed TWs should be live and go to a profile, more content about the people who are betting.  The circular avatars should also have names under them so that if you are scrolling you can see who bet who instead of just the pic vs pic.  I think the (  ) vs (  ) is important to interact with.  Right now the globe page and home page that show completed TWs are pretty static

[2015-02-10 02:52] CodySwannGT opened #48 "Need follow feature"
On profiles, can we "follow this users TWs"?  Lets say Lebron James signs up, it would be great to follow all his bets.  His (public) TWs can then go on the globe page with all tws you follow.  (*I know this is a feature but somewhat relevant to my earlier comment thats why its here).

[2015-02-10 02:52] CodySwannGT opened #49 "Comment tweaks"
the three button link next to the comments section I think is unnecessary to have Just that as the link to make comments.  That whole bar should be live.  Click on "comments" and the whole bar there and you can comment.  Its less difficult if its that way.  If its just the three dots, then its harder to hit and more confusing.  Should be more simple.  The whole bar is live.

[2015-02-10 02:54] CodySwannGT opened #50 "Siding"
Right now you can only Side with one person when you are in the comments section and its open.  Makes no sense.  You should have one - tap siding functionality from the globe and home page.  Makes no sense to only have that ability from the comment page.  ALSO - the %s you see are not visible on any other section unless you are in the comment section.  That obviously needs to change so that if 90%

[2015-02-10 02:55] CodySwannGT opened #51 "When creating a TW the back arrow button is key. You get stuck in it otherwise. When I type in the @prize field, the keyboard blocks the field itself and I cant see what I am typing."

[2015-02-10 02:56] CodySwannGT opened #52 "When creating a TW, the @who is confusing if you dont actually need to type a "@""

[2015-02-10 02:56] CodySwannGT opened #53 "Facebook is great but we should have a feature to just add in a phone number or username. Because on the spot challenges may take time with people that you are not already friends with on FB. (feature?)"

[2015-02-10 02:56] CodySwannGT opened #54 "Visuals when challenged."
Alex TW'd me and the TW was actually about a picture.  It was "guess where im at" for $100 bucks.  But when I opened the app the thumbwar was in my face BUT the picture wasnt.  I had no way of seeing the visual and I had to make a choice to accept or decline.  I think the visual should be a part of the TW when it is presented to the challangee.  potential glitch.

[2015-02-10 02:57] CodySwannGT opened #55 "Counter"
Counter.  It really should be accept, decline and counter.  you should be able to modify the bet itself (I bet I can do 100 push ups, and the person you bet counters and says 150) OR you challenge whats at stake, the prize (bet you that the suns win tonight) for 10$, you counter back for 50$ and then the original challenger can then accept decline or counter again. (I know this is a feature but it

[2015-02-10 02:57] CodySwannGT opened #56 "The attachment"
I still dont know how to attach an image to a TW.  ALSO - the image should be "live" so that if you tap it you can see the image solely. The image sort of gets lost behind text and if the TW is about the image, you should have the ability to see the image solely.  Think Twitter.  (feature I know).

[2015-02-10 02:58] CodySwannGT opened #57 "Search feature."
Need a Field where you can search content or users

[2015-02-10 02:58] CodySwannGT opened #58 "Bottom Navbar."
some screens dont have a bottom bar and I think it may be a mistake.  It feels off when there is no bar.  What do you guys think?

[2015-02-10 02:58] CodySwannGT opened #59 "pulling in friends"
.  I know this is a feature but it is SO important to pull people into a bet to witness or side or comment or trash talk etc.  Its so weird to TW someone without pulling in or tagging buddies.  That crowd element is a huge part of what we want TW to be.

[2015-02-10 02:59] CodySwannGT opened #60 "The Alerts page"
The Alerts page is boring and I think it should show the actual comment or a teaser of it instead of the standard "alex posted a comment" and then you have to go see it.  Maybe down the road.

[2015-02-10 03:00] CodySwannGT opened #61 "How do completed and closed out thumbwars get archived?"

[2015-02-10 23:44] adamespn commented on #45
Verified fixed on IOS8.1/iPhone 6. Ready to deploy

[2015-02-10 23:45] CodySwannGT commented on #45
Cool. When you push to github, use commit message "closes #45" and this ticket will automatically close

[2015-02-10 23:47] adamespn opened #62 "Tutorial alert crashes"
When I click on the tutorial alert, instead of starting the tutorial, it crashes (IOS 8.1 AND IOS 8.13)

[2015-02-10 23:49] adamespn opened #63 "Wars on Home and Globe have white box around them"
Is this intentional or did I screw up the storyboard just now?

[2015-02-10 23:50] adamespn opened #64 "On one particular war, when entering a comment, it never gets posted."

[2015-02-10 23:52] adamespn opened #65 "Intermittent: I get Facebook SDK error"
Not sure why - not sure if this is even a bug

[2015-02-11 00:05] CodySwannGT commented on #63
Not sure because you committed a conflict.

https://github.com/gunnertech/thumbwar-ios-client/blob/master/Thumbwar/WarDetailVC.swift#L138-L159

[2015-02-11 00:17] #63 closed

[2015-02-11 00:30] adamespn commented on #13
I found the issue - now searching for the fix

[2015-02-11 00:56] adamespn commented on #13
fixed

[2015-02-11 01:19] #13 closed

[2015-02-11 01:19] #45 closed

[2015-02-11 01:20] adamespn commented on #65
can't reproduce - closing

[2015-02-11 01:20] #65 closed

[2015-02-11 01:23] adamespn commented on #44
fixed and pushed - not tested

[2015-02-11 01:35] adamespn commented on #64
can't reproduce

[2015-02-11 01:35] #64 closed

[2015-02-11 01:41] #62 closed

[2015-02-11 01:45] adamespn commented on #41
Nope - i got it - next deploy - probably tomorrow or Thursday

[2015-02-11 04:26] #44 closed

[2015-02-13 03:36] #41 closed

[2015-02-13 03:38] adamespn commented on #41
This change is pushed. I'm not going to bother deploying a new app to test flight for just this. Tomorrow I will got through the tickets that can be scheduled and schedule a deployment.

[2015-02-14 04:55] adamespn commented on #50
Just a quick note - I added the %s in the war detail screen (as discussed in the original release notes) as a clue that this is where you could "side" with someone.
I see this ticket has been unassigned. What is the current status?

[2015-02-14 04:56] adamespn commented on #48
Is this assigned to anybody?

[2015-02-14 04:56] adamespn commented on #47
Is this assigned to anybody?

[2015-02-14 04:56] CodySwannGT commented on #48
No. It's not active. We're waiting on Steve to chime in

[2015-02-14 04:57] CodySwannGT commented on #47
Yes. Steve

[2015-02-14 04:57] CodySwannGT commented on #50
assigned to steve

[2015-02-14 04:58] adamespn commented on #39
It's enough info for UI requirements. I need to ask you how to accomplish this though the API. If I switch sides to I DELETE the original "following" before POSTing a new "following"? Or should the "following" get changed (or just left alone)?

[2015-02-14 05:28] CodySwannGT commented on #39
Per API Docs
- POST /thumbwars/:thumbwar_id/unwatch
- POST /thumbwars/:thumbwar_id/watch (side)

[2015-02-14 15:28] adamespn commented on #39
Do you want to work out all the watch/unwatch/side/inside/switch sides flows - would the following/unfollowing flows be impacted?

[2015-02-14 16:54] CodySwannGT commented on #39
Not sure what you mean

On Saturday, February 14, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the

[2015-02-14 17:00] adamespn commented on #39
Example: can I watch a war without siding with a player?

[2015-02-14 17:01] CodySwannGT commented on #39
No. Which is why "side" is a required parameter.

On Saturday, February 14, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intende

[2015-02-14 17:05] adamespn commented on #39
So then the call should be called "side" not "watch".

[2015-02-14 17:07] CodySwannGT commented on #39
I don't think the name of an end point really matters.

I described it as I'm "watching this bet on Dary's side"

On Saturday, February 14, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any d

[2015-02-14 17:14] adamespn commented on #39
It matters quite a bit when you say things like "Per the API docs". Anybody reading the API call signature will believe this call is for watching was, and - without any other description of the endpoint to fall back on - will use the call incorrectly.

This has already happened at least once or twice.

Now, I'm pretty sure the original intention of this call is to "watch", not "side". "Side" was w

[2015-02-14 17:16] CodySwannGT commented on #39
As of right now, there is no plans to watch a tw without a side. If that
ever changes, the side parameter will no longer be required.

On Saturday, February 14, 2015, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message

[2015-02-14 17:18] adamespn commented on #39
My crystal ball says that will change very soon.

[2015-02-14 17:19] adamespn commented on #39
Second example: can I just stop siding with a player without switching sides?

[2015-02-16 19:23] smummolo commented on #61
they should appear in the "my wars" section of your profile - listed under won/lost/all etc...

[2015-02-16 19:24] smummolo commented on #60
agree - this is the simple version - eventually it would be nice to make it more interactive and robust for sure

[2015-02-16 19:28] smummolo commented on #59
agree - but dont want to upset the intial post flow. would be nice to add share/invite functionality in the details screen of a post for now

[2015-02-16 19:28] smummolo commented on #58
put the bar in on all pages - agree OR have the top / bottom navs appear / disappear (like on pinterest) when you scroll up or down. Either way.

[2015-02-16 19:29] smummolo commented on #57
lets add a simple top bard with a search field + button that appears when you pull down from the top of the feed (pulling down from the top of the feed ALSO updates the feed)

[2015-02-16 19:31] smummolo commented on #56
agree. im not in love with the way the text and image are working together. I also dont like the formatting of the text on it's own at the moment. It doesn't look like the designs - any way to come closer / refine this element?

Re: text over images - I think we need to put a dark gradient over all images to bring up the text visually maybe like a 25% opacity black overlay on the images would work

[2015-02-16 19:32] smummolo commented on #55
counter was left out of MVP on purpose-  but agree we should get there.

[2015-02-16 19:33] smummolo commented on #54
agree - that's a good note. can you just put the picture at the top of that screen when there is one?

[2015-02-16 19:35] smummolo commented on #53
this seems to be searching my fb and my ab so that covers people i know. Can you just put in the ability to type a phone number and not call it out for now? I think it's an edge case BUT also intuitive enough that people are going to do it anyway

[2015-02-16 19:35] smummolo commented on #52
lets kill the @ symbol

[2015-02-16 19:37] smummolo commented on #51
the fields screen should scroll up as they get filled in so that the field you are typing in is visible OR i should be able to pull the screen up to show it.

That said - on my i6 i dont have this issue at all and can see all fields all the time.

[2015-02-16 19:38] smummolo commented on #51
the nav bar is present at the bottom so im not sure how you get stuck without an arrow? That said if you want to add one at the top go ahead :)

[2015-02-16 19:39] smummolo commented on #50
agree - the intention was to be able to side from the feed page sorry if that wasnt clear.

the percentages are nice - move them to the feed - they should appear when you tap to pick a side on the global and home feeds

[2015-02-16 19:41] smummolo commented on #49
change the three dots to a comment bubble icon. you can also put the number of comments in that bubble if you want to get fancy.

The idea behind the three dots was that there would be additional functionality and detail in that view but for now it seems like overkill and i agree its hard to tap right now

[2015-02-16 19:41] smummolo commented on #48
not for MVP but a key feature for the next round

[2015-02-16 19:42] smummolo commented on #47
this is another good note and will require a design revision, for now lets leave it and put it on the list for the next version.

[2015-02-16 19:44] smummolo commented on #19
im not sure we're going to figure this out right now but i see your point, something to watch for sure

[2015-02-16 20:53] smummolo commented on #18
if you can add the third option easily then do it - if not, then leave it out. your call depending on LOE

[2015-02-16 20:57] smummolo commented on #17
i feel like this function should exist on the post details page - i think there is a bunch of functionality that needs to be added to that area:  add photo, share etc. I think adding a photo in the comments covers us if that's easy enough to put in - Otherwise I dont think this feature makes MVP though, lets table it for the next version.

[2015-02-16 20:59] smummolo commented on #12
Let's do first names in the post header: "Josh Vs. Bob     13days ago"

[2015-02-16 21:00] smummolo commented on #11
yes universal for the name, the only exception for the icon would be the choosing sides functionality.

[2015-02-16 21:01] smummolo commented on #10
leave out for mvp - there should be an icon set for this but its hardly critical functionality

[2015-02-16 21:01] smummolo commented on #8
im not sure what the question is - this seems to be working fine?

[2015-02-17 01:30] adamespn commented on #61
What is an "archived" thumb war, exactly?

[2015-02-17 01:31] adamespn commented on #60
So, I'm hearing that we should do nothing as of right now

[2015-02-17 01:32] adamespn commented on #59
I'm hearing we want to to implement this. Can you provide any further details?

[2015-02-17 01:34] adamespn commented on #58
We have modal-type screens that do not have a nav bar because (apparently) you dismiss the screen to return to a screen with a nav bar. We might need some additional design for this. Can you think through some scenarios. For example, how does the bet response screen work? What tab is it in? What happens if I tab away from the "bet response" screen and then tab back? (etc)

[2015-02-17 01:36] adamespn commented on #57
"bard" means "bar", I assume?
How are results displayed? Is there a particular search methodology you want to use? Can I sort/filter results by relevance, recency, etc.? How do I get back to the view I had before I searched? I'm a little confused about what it looks like when I pull to refresh/search. Do I really see a search widget AND a spinner that tries to update? It might work but it sounds a

[2015-02-17 01:39] adamespn commented on #56
To answer the first question: The designs specify a large font but only show a very short amount of bet text. It's difficult to see what you imagine it ought to look like with much longer text or a smaller font. Can you throw up some examples?

I'm happy to put an overlay of 0x00000044 over all the war images. You can decide if that will work for you.

[2015-02-17 01:39] adamespn commented on #55
So, I'm hearing that we should do nothing as of right now

[2015-02-17 01:39] adamespn commented on #52
OK, so no @ anywhere, unless the user types it. Should it get any special treatment if the user types an @?

[2015-02-17 02:10] adamespn commented on #50
"they should appear when you tap..." Does this mean the percentages should not be shown unless you tap one of the avatars?

Consider the following use case:
1) User opens war X
2) user sides with someone
3) User closes app
4) User opens app
5) User views war X in feed (or opens)
6) User taps avatar to side with other party

At what points in this flow should percentages be shown/not shown?

[2015-02-17 02:11] adamespn commented on #49
We have a bubble on the left side at this time. We also have the number of comments shown as well. Should any of that change or should we add a second bubble?

[2015-02-17 02:11] adamespn commented on #48
I'm hearing we should do nothing here.

[2015-02-17 02:11] adamespn commented on #47
I'm hearing we should do nothing here.

[2015-02-17 02:13] adamespn commented on #35
Can you also look at #56 and tell me which way we should go here?

[2015-02-17 02:14] adamespn commented on #17
Do you have any design artifacts for adding photos to comments?

[2015-02-17 02:15] adamespn commented on #12
Is this for all wars, even the ones that the user is a participant in? Or should it say "You V Cody", etc.?

[2015-02-17 02:15] adamespn commented on #10
I'm hearing we should do nothing here.

[2015-02-17 02:17] adamespn commented on #8
Based on #48, I believe we have only people from categories 2 and 3. Can you confirm?

[2015-02-17 22:34] CodySwannGT commented on #11
@adamespn any questions here?

[2015-02-17 22:37] adamespn commented on #11
Yes. Please see #47 - there appears to be a disconnect between these two tickets

[2015-02-17 22:41] CodySwannGT opened #66 "Can I just stop siding with a player without switching sides?"

[2015-02-17 22:41] CodySwannGT commented on #39
@adamespn I opened new issue to address that #66

[2015-02-17 22:43] CodySwannGT commented on #35
On hold for response to #56

[2015-02-17 22:43] CodySwannGT commented on #26
@adamespn let's discuss how to make this happen

[2015-02-17 23:34] CodySwannGT opened #67 "Fix lookahead implementation"
Currently, selecting the "who" from the dropdown does a simple string lookup on the name, instead, it should behave as follows:

1) Select a TW match - looks up user based on user#id, user#username or user#facebook_id
2) Select a FB match - looks up user based on user#facebook_id
3) Select an AB match - looks up user based on mobile number

The API already supports this with the GET /users input.

[2015-02-17 23:46] CodySwannGT opened #68 "Alert Count isn't going away when I read alerts"
Steps to reproduce

1) Open app
2) Look at alerts icon - it has a red circle with "20" inside it
3) Click alerts tab

EXPECTED => all alerts are marked read and the red circle goes away

ACTUAL => the same red circle with 20 stays on the icon

[2015-02-18 00:57] CodySwannGT opened #69 "Push notifications still not working"
After our changes, Alex and Bob still were not receiving push notifications.

I dug into it a bit and found these:

http://stackoverflow.com/questions/1943722/iphone-apns-device-tokens-in-sandbox-vs-production

and

http://stackoverflow.com/questions/24044298/why-push-notifications-is-not-working-on-testflight

The second one is telling - that the app needs to be in production mode.

I change the

[2015-02-18 22:39] bobagahi commented on #39
I read some of these comments.  I dont think it should be a necessity for everyone to side with one person or the other.  They can if they want to but they dont have to.  (I think most people will) but on instagram you can scroll and watch without siding.  I also think that for a future version release that if you tap one side you can see all the usernames that sided with that side and vice versa.

[2015-02-18 22:54] CodySwannGT commented on #39
Here's the way I see it (in the future)

Three levels of involvement:

1) Be involved in the TW
2) Take a side in the TW
3) Follow someone involved in the TW

I think if you add a fourth, it gets really superfluous

1) Be involved in the TW
2) Take a side in the TW
3) "Watch" a TW without choosing a side
4) Follow someone involved in the TW

It's kind of like - "Look, if you are interested in this

[2015-02-18 23:15] adamespn commented on #39
I agree with that, Cody.

The issue I have is that the notion of siding is very specific.

The notion of watching is less specific.

If you can't watch without siding then the UX gets a little odd.

So, I believe we should allow watching and then encourage siding. Most people will side.

[2015-02-18 23:26] bobagahi commented on #39
Ok cool. Could be a very cool dynamic.

[2015-02-19 11:58] #69 closed

[2015-02-28 00:36] #39 closed

[2015-02-28 00:36] #68 closed

[2015-02-28 00:37] #67 closed

[2015-02-28 03:58] #15 closed

[2015-02-28 04:32] adamespn commented on #11
@smummolo In #47 we have a statement that there will be no profile screens, but in here we are saying there are profile screens. Can you clarify which one is right and provide a design if we are adding profile screens for other users?

[2015-02-28 04:35] adamespn commented on #26
@CodySwannGT you will need to create and push an alert of a new type - just give me the type.
@smummolo I need an icon for this alert type and I need to know what happens when you tap this alert. I am assuming that this alert type, when tapped, would open up your friend's profile screen (I can't think of anything else for it to open up). If that's the case we need to resolve the questions in #11 a

[2015-02-28 04:37] adamespn commented on #54
@smummolo can you provide a visual design? I can put it at the top of the screen but where does everything else go?

[2015-02-28 04:38] adamespn commented on #53
@CodySwannGT @smummolo if you type a phone number in and no user with that phone number exists, what do I use for a user name (or display name or first name or last name) when I create the user? Can you have a user with no name? Does this only work for 10 digit USA phone numbers?

[2015-02-28 04:40] adamespn commented on #51
@smummolo @CodySwannGT I will try this o an iPhone 5 on Monday. I can't picture the issue you are speaking of. However, I'm sure there is a standard way to handle this. I will let you know if there are any problems.

[2015-02-28 04:40] adamespn commented on #35
@smummolo Can you look at #56 and clarify the approach here?

[2015-02-28 04:44] adamespn commented on #18
@smummolo This will be easy enough for me because the behavior will be driven by the API calls Cody supplies. @CodySwannGT Can you get me calls by Thursday morning?

[2015-02-28 04:53] CodySwannGT commented on #53
So this would have to be different from the lookahead because we can't give out phone numbers.

The implementation would have to be an exact match.

Here is how it works:

1) User types in a phone number but no suggestions come up.
2) The mobile number is considered valid if it has at least 10 digits
3) If no country code is specified, "1" is assumed
4) When the user hits the Submit button to fina

[2015-02-28 04:56] adamespn commented on #53
Ok got it so it's just like typing a name only we are searching based on a number and we won't create a user with only a phone number.

[2015-02-28 04:56] CodySwannGT commented on #26
Yeah, and it's a bit more involved with that.

What I'm going to need from us is:

1) When a user signs in for the first time (aka registers) - you'll have to POST the facebook ids of his facebook friends as I can't access that info on the server.

2) I'll write a background process on the sever that loops through the POSTed ids and creates alerts as needed.

I'm assigning this to myself until I h

[2015-02-28 04:58] CodySwannGT commented on #18
Will do

[2015-02-28 04:58] CodySwannGT commented on #53
exactly

On Fri, Feb 27, 2015 at 11:56 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the individual or

[2015-03-01 19:43] CodySwannGT commented on #18
The API will now accept "push" for challengers_proposed_outcome and opponents_proposed_outcome

[2015-03-01 19:57] CodySwannGT commented on #26
This is now part of the /login api endpoint https://github.com/gunnertech/thumbwar-api#authentication

Just need to pass those upon login.

[2015-03-06 21:32] adamespn commented on #51
Cannot reproduce on iPhone 5s - see attached screenshot - Cody please close unless you have new information
![iphone5skeybboard](https://cloud.githubusercontent.com/assets/1437020/6536773/616ec8a8-c41e-11e4-8d09-224a75fb6dbe.png)

[2015-03-06 23:06] CodySwannGT commented on #51
See that white bar? Expand that and you can reproduce the problem

[2015-03-07 00:58] #26 closed

[2015-03-07 00:58] #53 closed

[2015-03-07 05:12] #18 closed

[2015-03-07 05:12] #51 closed

[2015-03-09 17:03] smummolo commented on #66
yes - tap the same "image" again to "un-select" it. make sense?

[2015-03-09 17:08] smummolo commented on #61
we don't have to archive wars, they just go into your "my wars" section and can be found chronologically

[2015-03-09 17:08] smummolo commented on #60
correct - do nothing

[2015-03-09 17:11] smummolo commented on #59
i think to do this right, we'll need to create an alternate flow, i don't see this as an mvp feature (invite) - however - "share" fills this gap in a simpler way for now - share to fb, share to tw, email etc - sends a link to view the war or download the app.

However, if this is too complex to do simply its NOT an mvp requirement, its a MVP.2 maybe but not core to the basic flow.

[2015-03-09 17:14] smummolo commented on #58
im having trouble following this - sorry, can you explain differently?

[2015-03-09 17:17] smummolo commented on #57
no i meant lets add a minstrel to the app ;P

yes "search bar" - sorry.

re: what it looks like - i envisioned the simple version just acting like a filtered view of the feed. Search "lakers" - get a feed made of posts relating to lakers.

Filtered search results feed should be labeled in the header bar "'search term' feed" - just text in the header

No results shows very simple "sorry no results"

[2015-03-09 17:18] smummolo commented on #56
im actually feeling like maybe we kill the image for now - the text looks great, images all look like hell. What do you think?

[2015-03-09 17:18] smummolo commented on #55
do nothing

[2015-03-09 17:21] smummolo commented on #54
im feeling like images arent working and are distracting at this point from the core experience - thoughts on removing for now?

[2015-03-09 17:22] smummolo commented on #52
right. it should ignore it if typed

[2015-03-09 17:24] smummolo commented on #50
percentages should be shown all the time - the number is less important than the circle graph. cool if they can update in real time post tap, if not, next time the feed is refreshed is an acceptable 2nd

[2015-03-09 17:25] smummolo commented on #49
sorry - think the one bubble is enough maybe just move it to the right and call it a day

[2015-03-09 17:25] smummolo commented on #48
do nothing thx

[2015-03-09 17:26] smummolo commented on #47
nothing please

[2015-03-09 17:27] smummolo commented on #46
all i want is simple white text above the buttons that says:

"Do you accept this Thumb War?"

[2015-03-09 17:30] smummolo commented on #23
the idea was that when you log into the app - and there is a resolution to a war you are involved in - you would get this alert, dismiss it or take action, if there are multiple, then they go in succession, until all gone. Not sure if randy has banddwith to mock

[2015-03-09 17:30] smummolo commented on #20
isnt this a great use for alerts section?

[2015-03-09 17:31] smummolo commented on #17
im really thinking kill photos for now

[2015-03-09 17:31] smummolo commented on #12
You V Cody in my wars works great.

[2015-03-09 17:34] smummolo commented on #10
nothing

[2015-03-09 19:44] CodySwannGT commented on #61
OK. So an archived TW is the same as an unarchived TW.

[2015-03-09 19:48] smummolo commented on #61
yes

     On Monday, March 9, 2015 12:44 PM, Cody Swann <notifications@github.com> wrote:

 OK. So an archived TW is the same as an unarchived TW.—
Reply to this email directly or view it on GitHub.

[2015-03-09 19:49] CodySwannGT commented on #56
We can certainly make that happen.

[2015-03-09 19:49] CodySwannGT opened #70 "Drop support for attaching images to thumbwars and use default image for backgrounds"

[2015-03-09 19:52] #27 closed

[2015-03-09 19:53] CodySwannGT commented on #23
@adamespn can you use existing design patterns to fudge this for now?

[2015-03-09 19:54] CodySwannGT commented on #20
Works for me

[2015-03-09 19:56] CodySwannGT commented on #12
I think you circulated an entirely different design that everyone really liked.

I think the only thing I asked for on that is if you could make a version of that design in which the full 160 characters were used so we could see how to shrink the text down.

[2015-03-09 20:03] smummolo commented on #12
sorry - here you go!

https://www.dropbox.com/sh/eydi2c2v9se9t8o/AADdmlEyRZwpGWuGs5qceMVga?dl=0

On Mar 9, 2015, at 12:56 PM, Cody Swann <notifications@github.com> wrote:

[2015-03-11 02:16] adamespn commented on #66
Yes.

[2015-03-11 02:27] adamespn commented on #61
Ok so I will do nothing and close this ticket

[2015-03-11 02:27] #61 closed

[2015-03-11 02:31] adamespn commented on #50
OK so basically make the avatars in the feed view exactly like the avatars in the war detail? Percent AND circle graph? Or no circle graph? @smummolo

[2015-03-11 02:32] CodySwannGT commented on #50
Exactly the same with circle graph

[2015-03-11 02:35] adamespn commented on #12
I can move the avatars and the names like in the attachment. Note that there is no longer a war pic, so some of the design elements may not be necessary.

[2015-03-11 02:37] adamespn commented on #46
OK

[2015-03-16 01:06] adamespn commented on #23
The simplest way t do this is to have it come from the "A war you are participating in just ended" because server-side persistence would be necessary. Otherwise, yes, I can guess at how this might work

[2015-03-16 01:09] adamespn commented on #57
@CodySwannGT can you confirm that I can filter on mine or all, then by a search term, and also paginate at the same time?

[2015-03-16 22:48] jiakeliu commented on #12
In comments, Alex's name becomes AlexNocifera12. Instead of assigning the username as a concatenated full name + number increment, should we allow users to assign their own username just like a Twitter handle? In that case, the unique username is displayed in the post header instead of seeing an entire feed of different Bob's and Alex's.

[2015-03-16 22:55] jiakeliu commented on #49
Should we retain the three dots, even as a placeholder, for additional functionalities down the line such as following, reporting, and sharing a post?

I think it's quite intuitive to touch the chat bubble on the left side OR anywhere on the post to see the expanded post/comment view.

[2015-03-17 00:28] adamespn commented on #12
We could. If you want to do that, you would move this ticket to the backlog, provide the change information, (potential discussion follows) and then reassign to a sprint/iteration.

[2015-03-17 00:40] adamespn commented on #49
There are other tickets that refer to other parts of the post being touched. Can you take a look before finalizing changes to this ticket?

[2015-03-17 04:42] jiakeliu commented on #49
I see another ticket that refers to touching the avatars. Any other parts on the screen that can be touched?

[2015-03-17 05:14] jiakeliu commented on #12
Let's go with this change for now, and we can create another ticket implementing the username. This ticket is just referring to displaying the name of the poster, which is fine.

[2015-03-17 06:12] jiakeliu commented on #70
As discussed in #36, I think attaching a background image to a post is important. I find myself paying more attention to the posts with an image vs just plain text. Was the decision to drop support for image attachment due to clashing with the white text? The gray overlay should solve this problem right?

[2015-03-20 18:10] adamespn commented on #70
Removed this ticket

[2015-03-20 18:10] #70 closed

[2015-03-20 18:11] #66 closed

[2015-03-20 20:04] adamespn commented on #49
Just confirming before I close this - we are leaving everything as is, but we are allowing you to touch anywhere (except when a separate ticket conflicts) to open comments.

[2015-03-20 20:30] jiakeliu commented on #49
Yes, anywhere but the portraits. Can you put in a placeholder drop-down
list for the three dots? We will add follow, report, and other
functionalities down the line. For now the list options don't have to do
anything or we can add a modal window that says "Coming soon". Your choice.
On Mar 20, 2015 1:04 PM, "adamespn" <notifications@github.com> wrote:

[2015-03-20 20:44] adamespn commented on #49
If the ellipses won't be functional then we should remove them, because - frankly - they are darn near impossible to tap as it is. A great way to PO the user would be to give them a button that is hard to tap and then have it say "under construction" or whatever.

[2015-03-20 20:49] #52 closed

[2015-03-20 21:01] #49 closed

[2015-03-20 21:04] #46 closed

[2015-03-20 21:15] adamespn commented on #12
For clarity,

I'm closing this ticket as a ticket that simply requires "You V Cody" or "Joe V John", etc.
The avatar changes are addressed in a different ticket even though they are referenced here.

[2015-03-20 21:15] #12 closed

[2015-03-20 21:18] jiakeliu commented on #49
Ok, lets remove the ellipses for now.
On Mar 20, 2015 2:01 PM, "adamespn" <notifications@github.com> wrote:

[2015-03-20 23:22] adamespn opened #71 "Undo "remove background image""
undo changes made in response to ticket #70

[2015-03-20 23:25] #71 closed

[2015-03-21 00:06] adamespn commented on #23
I am reopening this.
Unfortunately in testing this I ran across an edge case and I can't reliably know whether this alert has been shown before. This results in the user getting a very annoying number of these alerts even after having gotten them before. I have left the code intact but disconnected it from the app. We will need to readdress the design for a future iteration.

If anyone disagrees w

[2015-03-21 00:23] jiakeliu commented on #23
Not sure if related to the multiple alerts bug you are seeing, but here's a short Vine video of a bug I'm seeing with the ever increasing number of alerts each time I pull-refresh the Alerts page (pay attention to the notification badge on the Alerts tab):

https://vine.co/m/ANDHFm_IhhDXFwB7MidW2u2n3-ZdXpf_

[2015-03-21 00:26] adamespn commented on #23
That looks like a bug (not related to anything else). Good find.
If you add a ticket I will fix that one first thing on Monday.

[2015-03-21 00:33] jiakeliu opened #72 "Bug: Alerts badge infinite increment on pull-refresh"
Video of the bug in action (pay attention to the notification badge on the Alerts tab):
[https://vine.co/m/ANDHFm_IhhDXFwB7MidW2u2n3-ZdXpf_](https://vine.co/m/ANDHFm_IhhDXFwB7MidW2u2n3-ZdXpf_)

Summary:
Ever increasing number of alerts each time user pull-refreshes the Alerts page.

Repro:
When there is a new alert, go to the Alerts page and pull-refresh repeatedly.

[2015-03-21 00:36] jiakeliu commented on #23
Ok, created a new ticket: #72

Back to this ticket, do we have a stating version where we can test the app before production push? I can't tell whether this is a code bug or a design issue. Could you elaborate on the issue?

[2015-03-21 01:15] adamespn commented on #23
We have very poor requirements.

First we have a wireframe-ish screen with some unintelligible text - no visual design.

Then we have a brief statement that this should come up any time a war ends.

No use cases, no design, no examples. No narrative.

So, I really don't know exactly when it actually should pop up and when it shouldn't and what it should do.

Also, there should be some kind of limi

[2015-03-21 01:21] adamespn commented on #23
I am trying to figure out how to invite you to test flight so you can pull down versions as we go. It doesn't always want to invite people who already have apple IDs. Stay tuned.

[2015-03-21 01:23] adamespn commented on #23
OK - I see you are already in the tester list. Can you tell me what you mean by "staging version" if you don't mean test flight?

[2015-03-21 01:33] jiakeliu commented on #23
Never mind about the staging version, for some reason I thought we are on App Store. TestFlight as it is works.

I will work on the UX for closing a bet and the subsequent notification. Will followup on this ticket.

[2015-03-22 17:45] jiakeliu commented on #29
Let's tackle this sooner rather than later because people (me included) can't test the app properly without an iPhone 5s or 6.

For the comment field, let's add the placeholder gray text "Add a comment..."  And replace the "Go" button text with "ADD". Also, since I can't see the text field as the keyboard is blocking it, does the field expand in size when a user types multiple lines? Here's a vide

[2015-03-22 17:50] jiakeliu opened #73 "Replace the "X" button with back arrow"
Instead of the "X" button on the top right of the post, let's use a white back arrow icon on the top left of the post. Functionality should not be changed.

[2015-03-22 17:57] smummolo commented on #29
Can I get a screenshot?

On Feb 8, 2015, at 7:54 AM, Cody Swann <notifications@github.com> wrote:

@smummolo - got anything?

—
Reply to this email directly or view it on GitHub.

[2015-03-22 18:20] jiakeliu commented on #56
I think we decided to keep the image attachment because the content is more engaging. That said, it's still a friction to having to take a photo instead of using stock images. There's an iOS app, Polar, that implements a stock (Google?) image search and add feature in the content creation screen that could work well for us: https://itunes.apple.com/us/app/polar/id563322683?mt=8

Here's a video of

[2015-03-22 18:43] jiakeliu commented on #8
Is category 1, Thumbwar friends, currently using the system generated username (firstName+lastName+num)?

[2015-03-22 19:44] adamespn commented on #56
It's okay if it's a pain. The question - in my mind - is whether or not its a core feature. I'm guessing it's not, based on my analysis of this app and the need it fills in the market. However, nobody has ever formally written a statement of what is considered core functionality and what is not.

[2015-03-22 20:25] adamespn commented on #8
It looks like username is the field being looked up and Fn/ln is being displayed

[2015-03-22 20:29] jiakeliu commented on #56
I do not think it's a core feature, but I just wanted to comment on this
ticket to capture the thought as I'm combing through the backlog.
On Mar 22, 2015 12:45 PM, "adamespn" <notifications@github.com> wrote:

[2015-03-22 20:41] adamespn commented on #73
Does anybody want to specify the look and feel of the arrow or will anything do?

[2015-03-23 09:27] jiakeliu commented on #73
How about this in white: http://fortawesome.github.io/Font-Awesome/icon/arrow-left/

[2015-03-23 17:53] adamespn opened #74 "Create Android data model/endpoint calls/tests"
Create data model mirroring iOS functionality for wars, users, alerts, comments, etc.
Synchronize data with endpoint calls to thumb war-api
Provide unit tests.

[2015-03-24 11:13] jiakeliu commented on #1
This is a priority item, because the prize content could be more engaging than the bet itself, and at the very least amplifies the interesting level of the bet.
I'm not a designer, but how about displaying the prize like this?
![prizescreen](https://cloud.githubusercontent.com/assets/1039583/6800454/d3a6694c-d1db-11e4-9292-1ecaf050f2ee.png)

[2015-03-24 11:32] jiakeliu opened #75 "Initiate bet closure (Declare Winner)"
Only the participants can initiate to close a bet by declaring the results.

In the post view, when either participant touches the ellipses, there should be an option of "Declare Winner". After selecting it, this is the screen that shows up:
![declarewinner](https://cloud.githubusercontent.com/assets/1039583/6800767/d162fa76-d1de-11e4-973d-f90d2c5e90ea.png)
After submission, the opponent will then

[2015-03-24 11:41] jiakeliu opened #76 "Bet creation screen revamp"
The bet creation process should be intuitive, so we should mirror the layout to an actual post.
![creation](https://cloud.githubusercontent.com/assets/1039583/6809179/d54de6c8-d215-11e4-8d83-8c7b380f48ec.png)

[2015-03-24 11:48] jiakeliu opened #77 "Search"
Users should be able to search by thumbwar content or user.
![search](https://cloud.githubusercontent.com/assets/1039583/7002371/5b05f066-dbfe-11e4-86f8-a859d0a46d31.png)

[2015-03-24 11:50] jiakeliu opened #78 "Bet closure opponent screen"
After a bet closure/winner declaration is initiated by one party (#75) the opponent has a chance to acknowledge or reject the declaration.

Will followup with design mockup.

[2015-03-26 10:13] jiakeliu commented on #78
Here's the mockup

![opponent](https://cloud.githubusercontent.com/assets/1039583/6844072/16aaa9de-d366-11e4-921b-628dd7ead506.png)

[2015-03-26 10:26] jiakeliu commented on #50
One tap on a portrait should lead to the user profile, so the tap to side is kind of unintuitive.

As mentioned in #75, let's try using the swipe or slide gesture to side. Eg. Swipe left on a post to side with left user, swipe right to side with right user.

[2015-03-27 20:36] #74 closed

[2015-03-27 20:36] adamespn commented on #72
Cannot reproduce against build 22

[2015-03-27 20:36] #72 closed

[2015-03-27 20:36] adamespn commented on #29
Complete - two devices remain to test - one may not be tested until tomorrow

[2015-03-27 20:46] adamespn opened #79 "Android project in github and buildable"
preferably with maven
Also, clarify what version of android is being targeted

[2015-03-27 21:51] jiakeliu commented on #75
Per phone conversation with @adamespn, we've decided to hold off on implementing the "slide to bet" mechanism. Let's use the tap to select winner on this screen for now, just like siding bets in a post currently.

[2015-03-28 02:04] adamespn commented on #72
As suspected, this is a repeatable issue with fresh installs of build 22 but SHOULD NOT have been.
Current build does not show this behavior - confirming just to be sure on all platforms

[2015-03-28 03:42] #73 closed

[2015-03-28 03:46] adamespn opened #80 "Verify timing on "read" alert PUTs"
Make sure that server gets alerts marked read in a timely manner to avoid future issues with alerts badges

[2015-03-28 03:49] adamespn opened #81 "Regression test doc"
Prep a regression test doc for iOS 8.2 on iPhone 4s, iPhone 5s, and iPhone 6.

[2015-03-28 03:50] adamespn opened #82 "Upgrade/Clean all iOS software"
All devices, xCode, OSX and delete all apps from all devices and simulators on day 1 of iteration

[2015-03-28 03:51] adamespn commented on #50
Moving to backlog, per Jiake and my convo about user profiles and search

[2015-03-28 03:54] adamespn commented on #76
OK - I think I get this and I think I love the design. See comments in other tickets

[2015-03-28 03:56] adamespn commented on #1
This is really cool but we can't implement it unless
1) You match this up with bet creation screen
2) You explain how the user will actually know to say "I can down a gallon of milk" and then separately say "$10 if I can down it in under a minute". The prize value appears to contain actual bet info.
That's actually a tall order, so if we can't iron everything out with this by Monday I'm going to k

[2015-03-28 03:57] adamespn commented on #78
Question: Where does the text come from? Or did I miss something in a other screen?
Maybe a flow that shows the lifecycle of bet creation and finalization showing the copy traveling from one screen to the next would clarify. Good design though.

[2015-03-28 03:57] adamespn commented on #75
Jiake, let's catch up on this on Monday morning. I thought you were talking about something else with "slide"

[2015-03-28 04:11] adamespn opened #83 "Correct APS-entitlements missing on Adam's local"

[2015-03-28 09:25] jiakeliu commented on #1
The prize field should be open ended with a text length constraint of 140 characters. The bet info can involve monetary value or not. The ordering in the image should match up with the revamped bet creation screen.

[2015-03-28 09:55] jiakeliu commented on #78
Good idea. Here's the particular UX flow. Hope it makes sense:

![uxflow](https://cloud.githubusercontent.com/assets/1039583/6880577/ed0f1a7e-d4f5-11e4-81ba-dac654c8e84c.png)

[2015-03-28 12:30] adamespn commented on #1
I'm trying to picture how this actual screen comes about.

I go to the fridge. 3 year old Bobby says "Daddy don't drink all the milk".

I think "I'm gonna do a thumbwar".

I open the app. I tap POST.

Somewhere I type "I can down a gallon of milk"

Then somewhere else I think to type "$10 if I can down it in a minute"?

That does not seem logical.

I love this screen and I want this scenario to be

[2015-03-28 17:25] jiakeliu commented on #1
Another way to create the same post is "I can down a gallon of milk in a minute." and then in the "What's the stake?" field just type "$10". I don't think we should limit how the user posts the Stake content, since it can also be something more verbose like "A steak dinner" or "Put on a wig and a dress at the next ball game".

![creation](https://cloud.githubusercontent.com/assets/1039583/6882022/

[2015-03-28 17:26] jiakeliu commented on #1
By the way, can you see what users are typing into the $Prize field to date? Can I see a few examples?

[2015-03-28 17:32] jiakeliu commented on #75
Did you think I meant Tinder's swiping? What do you think about this kind of sliding? A visual example is something like this: http://drbl.in/eeCR

[2015-03-28 17:59] jiakeliu commented on #29
Still seeing the same issue:
![imag2224](https://cloud.githubusercontent.com/assets/1039583/6882179/59fdb63e-d539-11e4-9a0f-890f67c873f1.jpg)

I assume there's a back arrow at the top of the screen? But since I can't scroll I'm stuck at this view.

 Also the text copy for the "GO" button and the default text aren't changed?

[2015-03-28 19:47] adamespn commented on #1
Great question. I usually type "hdhdhhdhd" or such. Could win $5 if I drink a half gallon and $10 if I drink the whole gallon? Or is that going down the rabbit hole?

[2015-03-28 19:48] adamespn commented on #29
Sounds like we need a test plan with steps and expected results. I'll make one and you can change the expected results

[2015-03-28 20:35] jiakeliu commented on #1
That's going down the rabbit hole. Only scenario maybe that the opponent can up the ante or change the bet when they accept/decline the challenge, but let's hold off on implementing that.

For now do you think we can implement the Stake field as specified in this ticket or do you need more info?

[2015-04-01 20:33] jiakeliu commented on #76
Attaching mock up from Randy:

![creation](https://cloud.githubusercontent.com/assets/1039583/6951963/a992bd9c-d873-11e4-8b8d-0b964a838d92.png)

[2015-04-01 20:34] jiakeliu commented on #75
Attaching mock up from Randy:

![whowon](https://cloud.githubusercontent.com/assets/1039583/6951985/bde6851c-d873-11e4-92d1-4eb69cff233f.png)

[2015-04-01 20:35] jiakeliu commented on #78
Attaching mock up from Randy:

![results](https://cloud.githubusercontent.com/assets/1039583/6952012/ecd1dcdc-d873-11e4-81a3-b9b3efeea964.png)

[2015-04-06 08:16] jiakeliu commented on #11
Clicking on a user portrait should go to their profile screen. Here's the wire-frame and I'm asking Randy to provide a mockup:

![profile](https://cloud.githubusercontent.com/assets/1039583/7002130/7ceed552-dbfa-11e4-86c8-e7a257914782.png)

[2015-04-06 08:18] jiakeliu commented on #50
(Deleted a duplicated ticket and merging into this one)

The current way of siding by touching portrait conflicts with the action of looking up user profile.

Mimicking the action of siding with chips on a gambling table (slide the chips to an area on the table), users can side bets on the Home screen or in a post by sliding a knob or a chip to either participant on opposite sides.

The portraits

[2015-04-06 09:01] jiakeliu opened #84 "Revamped bottom nav bar"
Consolidate "Home" and "Global" into one home feed. Add "Search" view as defined in #77

![bottomnav](https://cloud.githubusercontent.com/assets/1039583/7002510/dde47f64-dc00-11e4-88c9-0962bb602360.png)

[2015-04-06 23:03] jiakeliu commented on #77
![search](https://cloud.githubusercontent.com/assets/1039583/7014184/75838e58-dc76-11e4-9f06-dfe1b95b83cf.jpg)

[2015-04-06 23:04] jiakeliu commented on #77
![suggestions_v2](https://cloud.githubusercontent.com/assets/1039583/7014191/8bb93f92-dc76-11e4-91c2-e17f235c5379.jpg)

[2015-04-06 23:35] jiakeliu opened #85 "Bet view"
This is the detailed bet view after a user clicks on a post. In this view, the user can leave comments and choose sides.

![bet view](https://cloud.githubusercontent.com/assets/1039583/7014532/eb341c18-dc7a-11e4-92f8-dca29912b249.jpg)

[2015-04-07 00:08] #83 closed

[2015-04-07 02:20] jiakeliu commented on #85
![detail](https://cloud.githubusercontent.com/assets/1039583/7016003/fa3d5640-dc91-11e4-9bfa-b8173630a043.jpg)

[2015-04-07 02:23] jiakeliu commented on #84
![tabbar_v2](https://cloud.githubusercontent.com/assets/1039583/7016036/55cd10e0-dc92-11e4-991d-69a86a528c5d.jpg)

[2015-04-07 03:34] jiakeliu commented on #11
![profile](https://cloud.githubusercontent.com/assets/1039583/7016595/5816fc1c-dc9c-11e4-9415-742384a6efd8.jpg)

[2015-04-08 00:58] #82 closed

[2015-04-08 00:59] #80 closed

[2015-04-09 00:48] #1 closed

[2015-04-14 22:38] jiakeliu opened #86 "Performance: address book look up slow down"
On the post creation screen, looking up a contact slows the app down considerably when the address book is huge. This happened to Josh's iPhone 6.

While we are at this, @adamespn, currently if I type a contact name, the drop down shows "TW: Name" and "FB: Name". Can we consolidate the two and just show one name? The user usually doesn't care where the contact comes from, as long as they can get t

[2015-04-16 14:12] adamespn commented on #47
Closing as duplicate

[2015-04-16 14:12] #47 closed

[2015-04-16 14:14] adamespn commented on #11
Quick question: Should my profile screen match this screen?

[2015-04-16 20:41] jiakeliu commented on #11
The "Follow" button changes to "Edit" on my profile screen.

I will mock up the Profile Edit screen, but if you need a place holder for now, we just need text fields for Photo, Name, Username, Email, and Phone.

[2015-04-16 20:42] jiakeliu opened #87 "Edit profile screen"
User's edit profile screen. Mock-up to follow.

[2015-04-16 20:45] jiakeliu commented on #87
Required fields:

Photo, Name, Username, Mobile Number, Email, Password.

[2015-04-17 21:35] jiakeliu opened #88 "Accept bet screen"
The screen for when a user receives a challenge and to decide to accept or decline. Mockup to follow.

[2015-04-17 21:36] jiakeliu opened #89 "Revamped home view"
Implement new UI. Individual bets should display Prize/Stake. Mockup to follow.

[2015-04-17 21:39] jiakeliu commented on #75
How can I see this screen? Currently when I click the ellipses on a bet, it jumps directly to "User says you won(lost) the bet!" and I can choose "Yes" or "No".

[2015-04-17 22:02] jiakeliu commented on #59
Once a bet is created, the user is prompted to tag their friends. Mockup to follow.

[2015-04-18 03:07] adamespn commented on #76
Quick note on this: On the top line, where it has an avatar, "You", a text field with the opponent name, and another avatar - this does not fit well - the opponent's name is always cut off. I'm going to mess with it a little at some point.

[2015-04-18 05:23] jiakeliu commented on #73
In build 25, the "X" is still present instead of the back arrow.

[2015-04-18 05:46] jiakeliu commented on #76
Let's replace the top bar with just a text field with the default text "Who are you betting?"

[2015-04-18 20:01] jiakeliu opened #90 "Loading screen"
Use the existing Thumbwar background for the loading screen which is currently black.

[2015-04-21 00:17] jiakeliu commented on #87
Design mockup:

![editprofile](https://cloud.githubusercontent.com/assets/1039583/7243365/22020910-e781-11e4-9c61-7f6ad66b6e5b.jpg)

![changepassword](https://cloud.githubusercontent.com/assets/1039583/7243368/27532af2-e781-11e4-9ddc-b16bde8e6717.jpg)

[2015-04-21 00:18] jiakeliu commented on #87
PSD files: https://www.dropbox.com/sh/vme0xozktp3yils/AACTllazlNjOpawXdI6T6uwSa?dl=0

[2015-04-26 06:31] jiakeliu commented on #85
Build 26 Bugs:
-Bet content does not show up
-Bet prize/stake does not show up
-Comment does not show up until a manual refresh
-Siding does not show up on the right side correctly

[2015-04-26 12:55] adamespn commented on #85
Noticed that the prize, comments bar (including ellipses), etc. are not visible in this mock up.
Are we putting any of those things here? Vertical space is a little limited right now.

[2015-04-26 13:16] adamespn commented on #85
-Bet content does not show up - in progress

-Bet prize/stake does not show up - please update design

-Comment does not show up until a manual refresh - cannot reproduce

-Siding does not show up on the right side correctly - fixed

[2015-04-26 20:01] jiakeliu commented on #85
Here's the new mockup adding back the Prize field and the elipses.

![detail_prize](https://cloud.githubusercontent.com/assets/1039583/7339013/5f7fab66-ec14-11e4-9de3-4ff0b17752ea.jpg)

[2015-04-27 17:10] adamespn commented on #81
Jiake, if you can layout all the use cases in preparation for acceptance testing, that would be very helpful.

[2015-04-27 17:14] adamespn commented on #81
I'm guessing there will be about 150 test cases, give or take 20-50

[2015-04-27 17:17] adamespn commented on #81
And there will likely be slight modifications to 15% of the test cases for the different form factors - iPhone 4, iPhone 5, and iPhone 6.

[2015-04-27 17:20] adamespn commented on #77
Jiake, when you choose to search contacts, Facebook, or twitter (which we are not integrated with), how does that experience differ from searching for registered thumb war users?

[2015-04-27 18:04] jiakeliu commented on #77
For a LIVE example, check out Polar https://itunes.apple.com/us/app/polar/id563322683?mt=8 Go to the Home feed, and click on the Search manifying glass on the top left corner, and click "People".

When a user picks Facebook or Twitter, the app would ask permission (first time) to connect to their respective social account and search and return other Thumbwar users that connected their social accou

[2015-04-27 18:05] adamespn commented on #77
No.

[2015-04-27 18:16] jiakeliu commented on #77
Search field returns all relevant TW users.

Facebook button returns Facebook friends that are TW users.
Twitter button returns Twitter followers/followings that are TW users.
Suggested button returns a list of users curated by us.

[2015-04-27 18:17] adamespn commented on #77
Ok. So exactly the same as what happens when you type a name in the post screen.

Do we have a method for curating users or is that for a future release?

[2015-04-27 18:24] jiakeliu commented on #77
Essentially, yes. The only difference from the post screen is that instead of a drop down menu of users, the users in the Search screen show up on a scrollable list. And we don't care which source a user comes from.

Eg. typing in "Adam" just returns "adamespn" and any other users that have "adam" in their username, but not "TW: adamespn" "FB: adamespn"

[2015-04-27 18:25] adamespn commented on #77
Why is there a Facebook button in that case?

[2015-04-27 18:27] jiakeliu commented on #77
The Facebook button is essentially a query that says "return all users that are my friends on Facebook" without having to type in any names. It's a feature to find all your Facebook friends on Thumbwar without you knowing in the first place. Does that make sense?

[2015-04-27 18:28] adamespn commented on #77
yes

[2015-04-27 18:29] adamespn commented on #77
Can you layout the use case where a user logs in to twitter? or should that button be disabled?

[2015-04-27 18:32] adamespn commented on #77
searching for wars pulls up the equivalent of a home screen?

[2015-04-27 18:32] jiakeliu commented on #77
Let's gray out the Twitter button for now.

But use case should be similar to Facebook when we come around to implementing it. Eg. Asks user permission to connect TW to their Twitter account and queries "return all users that I'm following or are my followers on Twitter".

[2015-04-27 18:33] jiakeliu commented on #77
Yes, eauivalent to home screen.

[2015-04-27 20:19] jiakeliu commented on #81
I can work on the use cases for sure. Is there a format you'd prefer? Would love an example if you have one.

[2015-04-27 20:29] adamespn commented on #81
I'll attach a document here once I push up the final functional release tonight

[2015-04-27 20:37] jiakeliu commented on #11
Just checked out the build. Great to see the new profile screen taking shape! Couple of things:

Can we increase the size of the bet feed at the bottom of the Profile screen to take up the entire width of the screen?

The entire screen, including the portrait and the selectors (WON, LOST, DRAWS, ACTIVE), should be scrollable to maximize the vertical view of the bet feed. The ideal UI behavior is t

[2015-04-28 10:34] adamespn commented on #81
Jiake, I was just thinking. You must have a textbook or two that talked about use cases. That would probably be a better resource than I for describing use cases.

[2015-04-28 17:13] jiakeliu commented on #81
I'm happy to write a few and see if they are easy for you to work with.
On Apr 28, 2015 3:34 AM, "adamespn" <notifications@github.com> wrote:

[2015-04-29 00:56] #10 closed

[2015-04-29 01:28] adamespn commented on #19
This is closed by new bet result screens

[2015-04-29 01:28] #19 closed

[2015-04-29 01:39] adamespn commented on #58
Should this be closed?

[2015-04-29 01:39] adamespn commented on #50
Should this be closed?

[2015-04-29 01:40] #48 closed

[2015-04-29 01:56] jiakeliu commented on #58
Yes

[2015-04-29 01:57] jiakeliu commented on #50
I'd love some user feedback on the slider. I'm not in love with it and think there maybe a better/more intuitive way of siding. Let's keep this open for now and move it to Backlog.

[2015-04-29 02:03] adamespn commented on #50
I love the slider but the built in iOS slider sucks.

Let's re-engineer it at some point

[2015-04-29 12:06] adamespn commented on #8
should this be closed?

[2015-04-29 19:28] jiakeliu commented on #8
Can we combine "TW: First Last" "FB: First Last" and "AB: First Last" to just display "First Last"?

[2015-04-30 01:29] adamespn commented on #8
They could be different people - better to just link in the table cells from user search later - it will be nicer to look at and self-explanatory

[2015-04-30 01:43] jiakeliu commented on #8
What do you mean by they can be different people? To a user, it doesn't
really concern them whether they are challenging a friend via Address Book,
Facebook, or TW, as long as they can challenge that friend with a given
name.

The table cells from user search only list the name and not the sources
(FB, AB, and TW) right?
On Apr 29, 2015 6:29 PM, "adamespn" <notifications@github.com> wrote:

[2015-04-30 01:46] adamespn commented on #8
I can have a contact named Rob smith and a Facebook friend named rob smith who is different and I can be following yet a third Rob smith in TW.

User search treats them all as different people as well.

We have discussed user resolution in the past but no good way to do it was proposed.

[2015-04-30 02:14] jiakeliu commented on #8
The search feed has a small profile picture to the left right? That will
help distinguish people with the same name.

Let's also display the unique username next to the full name, so the end
result should be like this:

*[PIC] Adam Meikle* @adamespn
*[PIC] Adam Meikle* @anotheradam

The thing we for sure do not want is this:

FB: *Adam Meikle* @adamespn
AB: *Adam Meikle* @adamespn
TW: *Adam Meikle

[2015-04-30 02:15] jiakeliu commented on #8
Here's how Twitter handles it:

https://twitter.com/search?q=bob%20smith&mode=users

On Wed, Apr 29, 2015 at 7:14 PM, Jiake Liu <jiakeliu@gmail.com> wrote:

[2015-04-30 02:29] adamespn commented on #8
They don't have usernames unless they are TW users

[2015-04-30 02:37] CodySwannGT commented on #8
That's actually not true - all users upon creation are given a username.

Unless I'm misreading the context here, but at the database level, all user
records have a username

On Wed, Apr 29, 2015 at 10:29 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*

[2015-04-30 02:39] adamespn commented on #8
People in your address book or on Facebook that are not users do not have a username

[2015-04-30 02:40] CodySwannGT commented on #8
Oh gotcha. Right. That's correct.

On Wed, Apr 29, 2015 at 10:39 PM, adamespn <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sol

[2015-04-30 08:58] jiakeliu commented on #8
Got it.

Unlike the address book, I don't think Facebook allows searching for users that have not authorized an app to access their profile, and the only way a user can authorize Thumbwar to access their profile is by signing up on Thumbwar. Therefore you technically can't find Facebook friends that are not already a Thumbwar user, correct?

So I think the correct UX design here is to take out the

[2015-04-30 10:54] adamespn commented on #8
We know who all your Facebook friends are, so that assumption is incorrect.

[2015-04-30 19:37] jiakeliu commented on #8
What can we do with a Facebook friend that shows up on Thumbwar search that's not already a Thumbwar user? Can we send them a Facebook message?

[2015-04-30 19:38] CodySwannGT commented on #8
No. All you can really do is use it as a reminder.

Like, the way I would do it is when you click a Facebook user (who isn't
already on Thumbwar) it prompts you for a phone number or email to send the
invitation to.

Or just leave out Facebook users who aren't connected to Thumbwar

On Thu, Apr 30, 2015 at 3:37 PM, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technolog

[2015-04-30 19:41] adamespn commented on #8
The app currently supports starting a war with a Facebook friend who is not currently a thumbwar user as well as a contact who is not currently a Thumbwar user

[2015-04-30 21:21] jiakeliu commented on #8
Adam, how do you currently start a war with a Facebook friend who is not a thumbwar user? A contact I understand is through SMS.

[2015-05-01 10:41] #58 closed

[2015-05-01 10:43] #60 closed

[2015-05-01 10:45] adamespn commented on #36
This is irrelevant now

[2015-05-01 10:45] #36 closed

[2015-05-01 10:48] adamespn commented on #8
You type "Jiake Liu" and their name comes up as a Facebook friend as "FB: Jiake Liu".
You select them. You start a war. TW app creates an initial record for the user in TW. The war is created.
I do not know if the server then creates a Facebook notification of some sort.

[2015-05-01 10:52] #55 closed

[2015-05-01 10:53] adamespn commented on #57
closing as duplicate of #77

[2015-05-01 10:53] #57 closed

[2015-05-01 10:55] adamespn commented on #3
covered by #87 - closing

[2015-05-01 10:55] #3 closed

[2015-05-01 10:56] adamespn commented on #20
This should either be closed, or turn into some kind of server -side req for creating a new alert type.

[2015-05-01 10:57] adamespn commented on #23
This is superseded by the new bet result screens

[2015-05-01 10:57] #23 closed

[2015-05-01 10:58] adamespn commented on #2
steve has an interesting idea in this ticket above "tapping on the 3 dots (as the owner of the war) should essetially take you back to the authoring screen to edit that setting", as it relates to anything war-related.

[2015-05-02 00:47] jiakeliu commented on #2
Tapping on the ellipses should show a dropdown menu, and one of the options should be "Edit war privacy. Another Modal window with the title "Edit War Privacy" should pop up at this point with two choices:

Public
Participants Only

[2015-05-02 01:05] jiakeliu commented on #8
If John Smith is not a TW user, but he's a friend of mine on FB, then even if I create a war like the way you described FB doesn't allow apps to send notifications on their platform. So for now, let's just take out the FW row and stick to the screenshot above.

[2015-05-02 01:07] jiakeliu commented on #84
Please update the UI to match this design. No text at the bottom of the icons and the "Create War" button should be a "+" sign not the crossed swords.

[2015-05-02 01:08] jiakeliu commented on #84
@adamespn please reopen this issue, as it's part of the UI/UX fix for this week.

[2015-05-02 01:15] jiakeliu opened #91 "Search users should only display TW users"
Currently the Search Users feature returns people from the local address book. Please limit the search to all TW users. The use case here is for me to find other TW users to follow/view.

[2015-05-02 01:20] jiakeliu opened #92 "Replace "X" with "<-""
This is ticket is referring to the "X" logo at the top left of most screens.

Here are a couple screens I found, please replace all instances.
-Bet detail view
-All Search results views (Wars, Users, Facebook, Contacts, Suggested)

[2015-05-02 01:28] jiakeliu opened #93 "Remove the "$" sign in the prize/stake field"
Currently when I type anything in the Prize/Stake field in the bet creation screen, a "$" sign appears in front of the text automatically. Please remove this.

Maybe related, it looks like if I type "$5" as the Prize, the "$" sign doesn't actually show up in the bet after it's created.

[2015-05-02 01:32] jiakeliu commented on #29
The keyboard still blocks the view when creating a bet, creating a comment, etc.

Can we make it so when the keyboard pops up on screen, a user can tap ANYWHERE besides the text field to dismiss the keyboard?

[2015-05-02 01:36] jiakeliu commented on #76
@adamespn can we please remove the left profile picture, "You", and the right profile picture, and leave the "vs Name" text field in the first row of this screen? Replace "vs Name" default text with "Who are you betting?"

[2015-05-02 01:43] jiakeliu opened #94 "Update bet creation tutorial screen"
Bet creation tutorial screen should match the default bet creation screen.

[2015-05-02 01:49] jiakeliu commented on #85
@adamespn is the ellipses added back to the bet detail screen as shown in the mockup?

[2015-05-02 09:35] jiakeliu commented on #20
I agree that the Alerts screen is where the pending challenges should live. Here's a design mockup:

![alerts](https://cloud.githubusercontent.com/assets/1039583/7440599/d020dada-f073-11e4-9568-a2b3c5891f2a.jpg)

[2015-05-04 18:45] jiakeliu opened #95 "Feed view UI update"
![feed_v7](https://cloud.githubusercontent.com/assets/1039583/7459357/13a42e50-f250-11e4-8b54-d6f8c22bcdf3.jpg)

"1 min" - time stamp
Speech bubble - comment count (tapping here goes to the bet detail view with the comment text field active/keyboard up)
Heart - "likes" count (tapping here "likes" the post, tapping again reverses the like)
Medal ribbon logo - prize/stake field. If the text gets too

[2015-05-04 23:24] jiakeliu commented on #75
Need to get to this screen from the Bet Detail view's ellipses.

[2015-05-05 01:34] CodySwannGT commented on #77
Here is what was decided:

1) Lose Wars: This means dropping the Users | Wars toggle and the text box should just say "Search Users"

2) Twitter and Suggested are grayed out / inactive

3) Contacts loads all your contacts

4) Facebook loads only your Facebook friends who also have authorized Thumbwar

[2015-05-05 01:36] CodySwannGT commented on #8
On the call we decided:

1) No entity resolution

2) Load only Facebook users who have authorized ThumbWar

[2015-05-05 14:32] adamespn commented on #95
Where does the "heart" icon count come from?

[2015-05-05 14:35] adamespn commented on #20
Is this image supposed to contain a large gray rectangle?

[2015-05-05 14:44] adamespn commented on #94
Are you asking me to decide what "match" means?

[2015-05-05 17:27] jiakeliu commented on #94
The current tutorial screen still reflects the old bet creation screen, right?

[2015-05-05 17:29] jiakeliu commented on #20
The gray rectangle is just the empty space in this view. What we currently have on the Alerts page is fine.

[2015-05-05 17:33] adamespn commented on #94
In the sense that somebody created a sequence of TUTORIAL screens that were hoped to seem a lot like the POST screen, that is true.

There is no deterministic function that takes the POST screen as input and automatically specifies a TUTORIAL screen. The TUTORIAL screen has its own needs.

For example, if a text box on the POST screen is near the top of the screen, that box would be moved down on

[2015-05-05 17:40] jiakeliu commented on #94
I see.

Let's make the UI update on the bet creation screen (Issue 76) first, and then we will come back to the tutorial screen. I will work on the design mockup.

[2015-05-05 17:44] jiakeliu commented on #95
The heart count comes from people that like a post. Do we need to create a separate ticket to implement this on the server side, @CodySwannGT?

[2015-05-05 17:52] adamespn commented on #20
There are additional specification and design decisions to be made on this ticket. Are you delegating them to me?

[2015-05-05 18:00] jiakeliu commented on #20
There are a few other alert types, right? Let's leave those as is for now, and just add this challenge queue alert.

[2015-05-05 18:04] adamespn commented on #20
For starters, suppose I have 3 unanswered wars and 2 wars that I started with Cody that he hasn't responded to. Under what circumstances do I see a notification for these and what happens when I click the buttons on it, both in this screen and on others?

[2015-05-05 18:08] jiakeliu commented on #20
Good questions...let me think through these scenarios and come back to you. Let's focus on the UI/UX tickets in the 5.1-5.8 iteration and we will fit this ticket in one of our next iterations, after I've worked through the use cases.

[2015-05-05 18:11] adamespn commented on #20
That's just one example question - there are others

[2015-05-05 18:12] adamespn commented on #93
@CodySwannGT the server strips any $ in the prize field. Can you remove that function?

[2015-05-05 18:13] adamespn commented on #93
On a related note - if I don't have a dollar sign in the prize, does that impact the notion of searching for hashtags and dollar signs?

[2015-05-05 18:14] jiakeliu commented on #20
Yes, there are also:

-Someone followed you
-A Facebook friend joined Thumbwar
-Your opponent initiated to close a bet
-You won or lost a bet

Few others I'm sure. I'll think through them.

[2015-05-05 18:16] adamespn commented on #20
Well, those are existing alerts. I'm solely thinking about the 2 kinds of notifications this tickets is in regards to and what the user experience is around them, not only when I'm staring at this screen, but when I start a new war, when I log in at a later time, when I open the war but do not dismiss it, how it relates to the popups we have for unanswered wars, badge counts changing when I receiv

[2015-05-05 18:57] adamespn commented on #20
Do you want to open a ticket for specifying this stuff and assign it to yourself?

[2015-05-05 19:25] jiakeliu commented on #20
Suppose you have 3 unanswered wars and 2 wars that you started with Cody that he hasn't responded to:

The mockup above should address the use case for the 3 unanswered wars that were started by Cody. The badge should always display a number (in this case, 3) until you either accept or decline the wars. Just opening the war or any other actions should not change the badge count.

For the 2 wars th

[2015-05-05 19:27] jiakeliu opened #96 "Pending Wars screen"
This screen houses all wars that you initiated but haven't been answered by the opponent. Only you can access this screen via the Profile page.

The layout of this screen should look like the Alerts screen.

For each "alert" or pending war, display the following:

Body text: "You challenged Cody (opponent name is bolded) to a bet"
Button text: "Send Reminder" (this button can be tapped once every

[2015-05-05 19:37] adamespn commented on #20
The mockup above shows exactly one notification and no "old-style" alerts, so I am not understanding how it addresses the use case for the 3 unanswered wars. Again, I'm happy to figure it out on my own.

[2015-05-05 19:37] jiakeliu commented on #93
The Prize field should allow for free form text. The "$" hashtag Cody mentioned should be implemented differently that's outside the scope of this ticket. Let's not worry about the "#" or "$" in the MVP.

[2015-05-05 19:41] jiakeliu commented on #20
We will keep the "old-style" alerts as they are.

The mockup reflects a war that Jiake Liu has challenged you to, that you have not responded yet.

For the 3 unanswered wars from Cody, the alert in the mockup would just repeat 3 times, stacked on top of each other in the feed view. Does that clarify?

[2015-05-05 19:47] jiakeliu commented on #20
Here's the mockup for 3 unanswered wars:
![alerts_multiple](https://cloud.githubusercontent.com/assets/1039583/7481454/d76abeec-f324-11e4-81c7-72c272081a51.jpg)

[2015-05-05 19:48] adamespn commented on #20
so these would always be above all "old-style" alerts no matter the date? I'm assuming they would scroll as well?

[2015-05-05 19:48] rand027 commented on #96
Would something like this work? I think we can lose the "to a bet" and just have it read "you challenged cody." It doesn't add much to the description and it will help us keep everything on one line. I also shortened the button text, thoughts?
![yourbets](https://cloud.githubusercontent.com/assets/11729006/7481488/14d2e886-f325-11e4-86a5-9046ca72b149.jpg)

[2015-05-05 19:52] jiakeliu commented on #96
I like how simple this looks, but how would a user cancel the bet?

[2015-05-05 19:53] jiakeliu commented on #20
Yes, and yes.

[2015-05-05 19:57] rand027 commented on #96
Good question. I saw the "x" request in your feedback above, but I assumed it was for the notification. We have a few options. The "sent" state could me a temporary animation replaces by a cancel button. We could make the alerts full width and make the reminder/close options buttons that you have to swipt to reveal (i.e. mail on an iphone) or we could use an icon for sending a reminder and pop a m

[2015-05-05 20:07] adamespn commented on #20
I like Randy's comment on #96 - seems more natural

[2015-05-05 20:08] adamespn commented on #96
Why not add these to the existing alerts screen?

[2015-05-05 22:38] CodySwannGT commented on #95
@jiakeliu yes plase

[2015-05-06 00:34] jiakeliu opened #97 ""Like" feature for wars"
Currently users can follow each other, but we need a way for users to keep track of wars that interest them. An intuitive way to accomplish this is to add a "Like" feature like the one in Instagram.

Here's the front end mock up, where the "Like" heart icon would appear for a war on the Home view. We need to keep track of the Like count of each post, and the user should have a way to look at the w

[2015-05-06 00:46] jiakeliu commented on #96
@adamespn I think pending wars that require action from your opponent shouldn't take up the prime space in Alerts, which is reserved for items that need your immediate attention or are very interesting to you. Since our Profile screen is already displaying all types of wars (Win, Lose, Active), I think it's a good place to house the "Pending" wars, but it should be tucked away and can only be acce

[2015-05-06 01:10] CodySwannGT commented on #97
Are we thinking this is going in MVP?

[2015-05-06 01:32] jiakeliu commented on #97
I hope we can implement this in MVP. Is it realistic?

[2015-05-06 01:34] CodySwannGT commented on #97
Not even a little bit if we're hoping to have the final MVP iteration end on May 24. It requires API and client work. Not to mention more definition - IE changing a like and like throttling.

[2015-05-06 01:35] jiakeliu commented on #96
@rand027 can we have a mock up of the slide to cancel screen? Can you also apply the same design to the alert screen here: #20

[2015-05-06 01:35] CodySwannGT commented on #97
Also - on the above point - we need a whole new view that would let a user filter wars that they've "Liked"

[2015-05-06 01:36] jiakeliu commented on #97
That new view should be in the Profile screen, where it's currently displaying Won, Lost, Draw, and Active, we will just have a "Like" section.

[2015-05-06 01:38] CodySwannGT commented on #97
Gotcha, regarding the views.

Think of it as this: It would take one iteration to build the API, and at least another iteration for the client to be able to leverage the API to make the writes and then probably a new iteration to implement the new view of reads. So, we're talking at least 2 iterations to bang this out and Adam's already jammed up with a full plate, so I would move this to future c

[2015-05-06 01:41] jiakeliu commented on #97
Agreed. I think there are many more high priority items out there right now. I'm moving this to future considerations.

[2015-05-07 02:42] adamespn commented on #11
OK - got it - that's going to take a little time - also, I wonder what happens when I scroll a long way down and I want to see the profile again

[2015-05-07 02:43] adamespn commented on #76
ok

[2015-05-07 02:51] #76 closed

[2015-05-07 02:55] #93 closed

[2015-05-07 03:05] adamespn commented on #84
I'm using the post icon V1 instead of V3

[2015-05-07 03:05] #84 closed

[2015-05-07 03:14] #92 closed

[2015-05-07 03:37] adamespn commented on #85
the ellipses is there and tappable - not sure why it's not visible - have to check

[2015-05-07 03:55] jiakeliu commented on #11
I think the default iOS UX for scroll to the top of a long list is to tap at the top of the screen: http://stackoverflow.com/questions/8951357/scroll-uitableview-to-top-when-tapping-top-of-the-screen

Alternatively, tapping Profile again should go to the top of the screen too.

[2015-05-07 03:57] adamespn commented on #11
Ok

[2015-05-07 04:01] adamespn commented on #85
On the bet pic: If the pic aspect ratio is different than the containing rectangle do you want to:
1) Crop it
2) Stretch/fill it
3) Pillarbox/Letterbox it?

[2015-05-07 04:16] jiakeliu commented on #85
Resize the image proportionally to fill either width or height, which ever is smaller, then crop the rest.

[2015-05-07 08:12] jiakeliu commented on #95
Let's hold off on implementing the "Like" feature.

@adamespn, please update the feed UI to match the mockup and take away the Heart icon and counter for now, instead just show the comment icon and counter aligned to the right.

[2015-05-07 21:43] jiakeliu opened #98 "Home feed should display public wars"
In release 32, home view is only displaying a feed of my own wars, but it should display all public wars.

[2015-05-08 00:14] #98 closed

[2015-05-08 00:24] adamespn commented on #85
ah - the ellipses I have is blue. There is no ellipses in the psd for the war detail mock. I'm repurposing the signal ellipses from the header. If you can send or point me to white ellipses at some point that would be great - closing

[2015-05-08 00:24] #85 closed

[2015-05-08 00:44] adamespn commented on #96
Can we put these in the existing alerts screen instead of creating whole new screen?

[2015-05-08 00:46] adamespn commented on #96
@CodySwannGT can we support a new server side push use case in this iteration?

[2015-05-08 00:47] CodySwannGT commented on #96
@adamespn no. Looking at this screen requires a bunch of new server functionality.

I'm voting that this is not MVP

[2015-05-08 00:49] CodySwannGT commented on #96
In the meantime, I would suggest the functionality be accomplished this way:

1) I challenge Adam to a ThumbWar
2) Adam doesn't respond
3) I go into my ThumbWars and see Adam hasn't responded
4) I comment on the War "C'mon wuss!"

It accomplishes the same functionality, but doesn't require at minimum two iterations of work to do.

[2015-05-08 00:56] adamespn commented on #11
This last scrolling change could be a little tricky. I might punt this into next iteration or into future considerations

[2015-05-09 00:12] jiakeliu commented on #2
@CodySwannGT @adamespn I remember seeing the Private/Public setting on the bet creation screen before, but it's taken out in the new releases.

Was this feature ever implemented?

[2015-05-09 00:13] CodySwannGT commented on #2
No. We punted on it a long time ago because there was no agreement on what
private actually meant and we deemed it not important for MVP

On Fri, May 8, 2015 at 8:12 PM, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email mes

[2015-05-09 00:19] jiakeliu commented on #2
I see. Thanks for the clarification!

[2015-05-09 01:47] CodySwannGT opened #99 "Match the App design to the PSDs"
There are way too many discrepancies right now to create a ticket for each difference, so please go through each PSD and make the app match the design, using autolayout to solve screen size differences.

[2015-05-11 00:28] jiakeliu commented on #29
The comment copy is not changed, it should be "Add a comment..." as the placeholder grey text in the comment field, and the "GO" button should read "ADD".

Also, I still cannot dismiss the keyboard when tapping anywhere else on the screen. Please reopen this ticket.

[2015-05-11 00:29] CodySwannGT commented on #29
@jiakeliu go ahead and open a separate ticket for "The comment copy is not changed, it should be "Add a comment..." as the placeholder grey text in the comment field, and the "GO" button should read "ADD"."

I'll reopen this one

[2015-05-11 00:30] jiakeliu opened #100 "Signup/Login with email"
@CodySwannGT does our backend support sign-up through email?

[2015-05-11 00:35] jiakeliu opened #101 "Comment view UI update"
For the comment field, let's add the placeholder gray text "Add a comment..." And replace the "Go" button text with "ADD".

Also, @adamespn can we replicate the comment field expansion behavior for a long comment as shown in this video: https://vine.co/v/OYTgeUFBdJg

[2015-05-11 00:38] jiakeliu commented on #29
Opened #101 for the Comment view visual change.

This ticket exclusively addresses the keyboard dismissal issue on any screen that activates the on-screen keyboard.

[2015-05-11 00:39] CodySwannGT commented on #100
Nope. Facebook connect was decided as the only way to sign up ala Tinder.

We originally supported it in the first app we built, but the group decided to move to Facebook connect only, so it was removed for the second app.

[2015-05-11 00:40] CodySwannGT commented on #100
Just curious - Why would you want to allow signup via email? 99.999999% of people have Facebook

[2015-05-11 01:05] jiakeliu commented on #100
I can understand Tinder's design decision for using Facebook Login exclusively, because a dating network requires authenticity. I'm not sure if Thumbwar requires the same level of authenticity. Since this is outside the scope of our MVP, I'm moving it to Future Consideration and wait for user feedback from the MVP release.

[2015-05-11 01:09] CodySwannGT commented on #100
So basically, you're in favor of letting someone create a bunch of fake
accounts ala twitter?

I see that as the only thing you GAIN from allowing people to register with
an email address in addition to Facebook.

On Sun, May 10, 2015 at 9:05 PM, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://w

[2015-05-11 01:17] jiakeliu commented on #100
Definitely not in favor of bunch of fake accounts, and I realize that's the pitfall for email registration, although there are solutions to mitigate this. But more importantly there are some positives we also need to consider, such as people who are turned off by having to disclose their personal identity (ala sign-in via Facebook) just to see the app content. I've asked a few friends who are in o

[2015-05-11 01:20] CodySwannGT commented on #100
Yeah. Everything you're mentioning is stuff we discussed at length.

I'm not here to tell you you're wrong or anything like that. Just catching
you up on many discussions we had.

The concession was:

1) Facebook Connect allows you to require different levels of info. We
would go for the least necessary
2) We wanted people who WERE comfortable being public.

Something we didn't consider was the re

[2015-05-11 02:02] jiakeliu opened #102 "Take out Expiration Timer in creation screen"
Talked to Alex and Bob about the Expiration Timer on the war creation screen, and the decision is to take it out from the MVP. The Remind button in the Pending Wars screen (#96 ) should for now fulfill the use case of reminding participants to take action.

[2015-05-11 06:43] jiakeliu opened #103 "Winner indication"
When a Thumbwar closes, the winner should be indicated with a clear visual cue (like a crown on the portrait), and other users should no longer be able to take sides. Commenting should still be allowed.

@rand027 could you try mocking up the visual cue for the winner?

[2015-05-11 22:26] jiakeliu commented on #102
Here's how the creation screen looks like without the expiration timer:

![newbet](https://cloud.githubusercontent.com/assets/1039583/7576407/083a6776-f7f2-11e4-9772-4d8635a11acc.jpg)

Here's the PSD file: https://www.dropbox.com/s/7uvven7v6v8ufjv/newBet.psd?dl=0

[2015-05-11 22:27] jiakeliu commented on #96
@CodySwannGT do you receive a push notification when a user comments on your thumbwar?

[2015-05-11 22:28] jiakeliu commented on #94
Let's take out the tutorial screen and land the user directly at the Home feed. I think the bet creation screen is intuitive/explanatory enough and the tutorial screen is just repeating what the default text says.

[2015-05-12 00:15] CodySwannGT commented on #96
yeah.

[2015-05-21 00:46] CodySwannGT opened #104 "Share dropbox repository with PSDs"

[2015-05-21 00:47] CodySwannGT opened #105 "Familiarize and setup Thumbwar Workspace"
Just want to make sure you can:

1) Compile
2) Push changes to github
3) Deploy to testflight

[2015-05-21 00:54] CodySwannGT opened #106 "Add Mahdi to the Apple Developer Team"

[2015-05-21 01:13] #106 closed

[2015-05-21 01:18] #104 closed

[2015-05-24 23:04] husseinm commented on #99
Forgot to mention, the photoshop files I received have several fonts I do not have. I am simply substituting the fonts I am seeing for Helvetica Neue as of right now...

Not sure if we can get this done by Wednesday, I will try and am on track right now, planning on finishing the New War/Post page today... Tomorrow I can give a better status on whether we may need to push to the next iteration, ho

[2015-05-25 01:20] CodySwannGT commented on #99
Thanks man. Wednesday is a check-in meeting. We wouldn't be looking to have this done until Friday - but, same thing stands.

We know that there is a lot of discrepancies from the PSDs, so if you need to spill into the next iteration, that's fine, too.

[2015-05-25 02:09] #105 closed

[2015-05-28 03:13] husseinm opened #107 "War Details page wont accept any input -> IBOutlet's are never called"
When a War page is opened, the back button, profile button, etc. all do not respond to input. I attempted testing with Println's and it appears the IBOutlet's are never getting called in code.

[2015-05-28 03:14] husseinm opened #108 "Award image for project."
I need the award.png file extracted from the feed_v7.psd file

[2015-05-31 14:20] #107 closed

[2015-05-31 14:21] husseinm commented on #107
The latest commit has just corrected it thanks to @CodySwannGT

[2015-06-01 02:00] husseinm commented on #103
I believe this is already planned in the current Photoshop mockups?

[2015-06-01 02:00] husseinm commented on #102
Are we sure we want to do this? The mockups have this feature.

[2015-06-01 02:03] husseinm commented on #96
Do we want to do this? Currently all current wars are visible via a users profile... Status?

[2015-06-01 02:04] #95 closed

[2015-06-01 02:04] husseinm commented on #95
We implemented most of these features in the update

[2015-06-01 02:06] husseinm commented on #90
Closing this issue, the ThumbWar loading screen has this.

[2015-06-01 02:07] husseinm commented on #87
We still want this? I have never seen it and it is not at all implemented in the code and would have to be a new addition, at lease that I am aware of.

[2015-06-01 02:08] husseinm commented on #86
Does this still exist? I am having absolutely no slowdown in my simulator, but I only have a limited address book and a Quad-core i7... Would have to test after Testflight tomorrow...

[2015-06-01 02:09] husseinm commented on #77
Status?

[2015-06-01 02:11] #34 closed

[2015-06-01 02:12] husseinm commented on #29
Is this still going on?

[2015-06-01 02:13] husseinm commented on #11
This is fixed by the latest commit

[2015-06-01 02:14] husseinm commented on #8
Wasn't this implemented?

[2015-06-01 02:15] husseinm commented on #91
Isn't this already implemented?

[2015-06-01 05:56] jiakeliu commented on #91
In the current version, when you search for a user, only local contacts are returned in the results. It should instead return registered TW users.

[2015-06-01 05:57] jiakeliu commented on #8
The icons (portrait and the phone icon) weren't implemented.

[2015-06-01 06:03] jiakeliu commented on #11
@husseinm please assign the ticket to me instead of closing it. So I can check it against the release.

[2015-06-01 06:26] jiakeliu commented on #29
Yes, this was still an issue in the last release.

[2015-06-01 06:51] jiakeliu commented on #77
Cody's last comment still needs to be implemented. Let me know if you need elaboration.

[2015-06-01 06:52] jiakeliu commented on #86
This only seems to happen when the address book has a lot of contacts. I will test it again after this release and get back to you.

[2015-06-01 06:57] jiakeliu commented on #87
Yes, we need to implement this after the design match up. We will talk about this in the sprint planning.

[2015-06-01 06:58] jiakeliu commented on #90
@husseinm when the loading process is slow (heroku dyno spin-up), you would see the black screen and the loading icon. We need to replace this black screen with the Thumbwar background and the loading icon.

[2015-06-01 07:36] jiakeliu commented on #96
This was intended for wars that have not been accepted nor rejected. But since the backend doesn't support it yet, let's put this in the Future Considerations milestone for now.

[2015-06-01 07:37] jiakeliu commented on #102
@husseinm yes, let's take this out for now.

[2015-06-01 07:40] jiakeliu commented on #103
No, still waiting on @rand027  to mock it up.

[2015-06-02 01:01] #99 closed

[2015-06-02 01:11] husseinm opened #110 "Artificial suggested friends"
Automatically have Cody, Alex and Bob as the default suggested friends until we implement the API

[2015-06-02 01:14] husseinm opened #111 "Properly Implement Alerts"
Tutorial alert is a simple text, but the Comment and Thumbwar notifications have a user image and name in bold.

[2015-06-02 01:15] husseinm opened #112 "Implement the ability to unfollow and follow a user"
Tie the followers/following and the follow button of a users profile to the api so the data is actually retained server side.

[2015-06-02 01:16] husseinm opened #113 "War Details screen"
The layout is absolute and currently not suitable for device screens - use autolayout to correct the screen.

[2015-06-02 01:17] husseinm opened #114 "Who Won page"
Needs to be implemented

[2015-06-02 01:17] husseinm opened #115 "Implement Results page"
implement the results page

[2015-06-02 01:18] husseinm opened #116 "Implement the followers page"
Implement the followers page

[2015-06-02 01:18] husseinm opened #117 "Implement the suggestions page"
Implement the suggestions page

[2015-06-02 01:22] husseinm opened #118 "iPhone 6+"
The application is not properly designed for the iPhone 6+ and will have to be corrected as such.

[2015-06-02 01:22] husseinm opened #119 "Tab bar correction"
Correct the tab bar to have a shadow as indicated in the PSD

[2015-06-02 06:23] jiakeliu commented on #102
@husseinm please match the bet creation screen to the screenshot above, including taking out the Portrait "You" part in the top left corner.

[2015-06-02 06:27] jiakeliu commented on #11
Wars are not showing up correctly in the Profile screen. Looks like it's showing my own wars instead of the Profile owner's wars.

[2015-06-03 16:50] husseinm commented on #102
I just redid the design according to the PSD above. I also implemented the privacy button, but the privacy feature still needs to be implemented server side. So everything has been fixed by the latest commit

[2015-06-03 17:46] jiakeliu commented on #102
Mahdi, please assign to me before closing.

[2015-06-08 01:20] husseinm commented on #115
I implemented it to the point where anyone can reach a war's result pages by the ellipses. Anyone can currently also request to close the war though it does not hit the server so no one else sees the war closed - The purpose of the results page currently is to make sure they adhere to the intended design as requested, if I get the green-light I will hook the API to those buttons and make them send

[2015-06-08 01:21] husseinm commented on #115
Also how should the ellipses on the war detail page work?

[2015-06-08 01:22] husseinm commented on #114
Same as the Results page...

[2015-06-08 01:23] husseinm commented on #113
The design's only current issue is the viewing of the ellipses. Should they be visible to everyone? Should they only do something when the intended viewer pushes them? Beyond that it pushes to the server, functions properly, and matches the design.

[2015-06-08 06:39] jiakeliu commented on #113
Ellipses should show up for everyone. There should be a drop down menu
after tapping the ellipses, and for participants an item should be "Declare
Winner", which doesn't show up for anyone else.

On Sunday, June 7, 2015, Mahdi Hussein <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-08 06:40] jiakeliu commented on #115
Replied to the other ticket

On Sunday, June 7, 2015, Mahdi Hussein <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-09 00:48] husseinm commented on #90
Should be corrected by the latest update.

[2015-06-09 01:34] jiakeliu commented on #87
@husseinm Can we fit this ticket in this iteration?

[2015-06-09 01:37] husseinm commented on #29
All these issues should be resolved in the next release - the text/button should have the correct color + placeholder, the keyboard should also be dismissible by the return button

[2015-06-09 01:37] jiakeliu commented on #90
I still saw the black loading screen this morning :
![file jun 08 6 36 24 pm](https://cloud.githubusercontent.com/assets/1039583/8048980/746f2400-0e0d-11e5-9c9b-fe7cc31dce5b.png)

[2015-06-09 01:38] husseinm commented on #90
I mean this update coming up.

[2015-06-09 01:38] husseinm commented on #87
Probably not

[2015-06-09 01:38] jiakeliu commented on #90
Oh okay, great!

[2015-06-09 01:39] jiakeliu commented on #87
Moved to Backlog for now.

[2015-06-09 01:40] jiakeliu commented on #115
Ellipses should show up for everyone. There should be a drop down menu
after tapping the ellipses, and for participants an item should be "Declare
Winner", which doesn't show up for anyone else.

[2015-06-09 01:43] husseinm commented on #90
I just pushed to TestFlight so you can see this and the comment issues resolved.

[2015-06-09 01:44] jiakeliu commented on #113
For everyone else, the dropdown menu from the ellipses should show "Report Inappropriate War" when @CodySwannGT can implement that in the backend. This is beyond the scope of the MVP, but feel free to implement the item in the front end and just have a modal window that says "Thank you for reporting!".

[2015-06-09 01:46] jiakeliu commented on #115
The Results page should only show up on User B's screen after User A's submission from the "Who Won" page.

[2015-06-09 01:46] jiakeliu commented on #114
See comments in tickets for the Results page and War Details page.

[2015-06-09 01:47] #102 closed

[2015-06-09 01:48] jiakeliu commented on #101
"Add a comment..." place holder gray text doesn't show up in the comment field.

[2015-06-09 01:51] jiakeliu commented on #94
@husseinm please take out the tutorial screen as part of the onboarding flow. It's very buggy and we want to land user directly on the content and not creation.

[2015-06-09 01:52] jiakeliu commented on #114
Hey @husseinm is this a duplicate ticket of #75?

[2015-06-09 01:53] husseinm commented on #114
Yes

[2015-06-09 01:53] jiakeliu commented on #114
Closing this ticket out. Please use #75 instead.

[2015-06-09 01:53] #114 closed

[2015-06-09 01:56] jiakeliu commented on #78
@husseinm this ticket should provide you with more details about the Who Won and Results page implementation. Reopening.

[2015-06-09 02:01] jiakeliu opened #120 "Public/Private toggle"
In the New War screen, tapping the "Lock" icon at the bottom of the screen should just toggle a "Locked" and "Unlocked" icon with text changes as well:

"Locked"  Private war only you two can see

"Unlokced" Public war for everyone to see

[2015-06-09 02:13] jiakeliu commented on #29
Fixed! Closing.

[2015-06-09 02:13] #29 closed

[2015-06-09 02:14] jiakeliu commented on #90
Fixed! Closing.

[2015-06-09 02:15] jiakeliu commented on #50
In the War Detail screen, let's remove the sliding bar at the top. Instead,change the texts "Side with User A" and "Side with User B" in the "Siding" tab into clickable links that accomplishes the same thing as siding. Does that make sense, @husseinm?

[2015-06-09 02:16] husseinm commented on #50
Sure.

[2015-06-09 02:20] jiakeliu commented on #2
Duplicate with #120 . Closing

[2015-06-09 02:20] #2 closed

[2015-06-09 02:24] jiakeliu commented on #20
@husseinm designs in this ticket should be used for the Alerts screen implementation.

[2015-06-11 00:55] #108 closed

[2015-06-11 01:09] #101 closed

[2015-06-11 01:13] jiakeliu opened #121 "Add text border so it shows on white background image"

[2015-06-11 01:29] jiakeliu commented on #121
no longer valid. adding gradient to image.

[2015-06-11 01:29] #121 closed

[2015-06-11 01:35] husseinm opened #122 "Dark Gradient Over War Detail Image for War Text to contrast against"
Dark Gradient over War Detail Image for War Text to contrast against

[2015-06-11 01:37] jiakeliu opened #123 "Show image preview after adding a picture in New War screen"
Currently the "Attach Image" tab below the "What's your bet?" field remains static after attaching an image.

Instead, the tab should show a preview of the image confined/cropped to the size of the tab, and when a user clicks on the image a modal window should pop up giving a full view of the image with an "X" at the top right to delete the image, in case the user wants to add another image instea

[2015-06-11 01:38] jiakeliu commented on #112
@CodySwannGT says this is already implemented? Feel free to assign to Mahdi if so.

[2015-06-14 19:01] husseinm commented on #11
This should be corrected in the latest commit.

[2015-06-14 19:02] husseinm commented on #122
Should be corrected in the latest commit

[2015-06-14 19:02] husseinm commented on #112
Should be corrected in the latest commit

[2015-06-15 08:37] #122 closed

[2015-06-15 09:06] jiakeliu commented on #75
@husseinm the correct flow for war closure is this:

1. Either participant taps ellipses in the War Detail view, a drop-down menu appears with an item "Declare Winner"
2. User A taps "Declare Winner" and the mockup in this ticket appears, asking User A who won the war. At this point User A can say he won the war, his opponent won the war, or that it was a draw. He may also attach comment or image

[2015-06-15 09:10] jiakeliu opened #124 "War detail view "stake" bar is pushed to the right"
The "Stake" bar should in the war detail view should look like the one in Home view, where it spans the entire row instead of right justified.

[2015-06-15 09:35] jiakeliu commented on #112
As noted in your email, @husseinm, the following/follower counts are still not functioning correctly.

[2015-06-15 09:37] jiakeliu commented on #11
Won/Lost wars are not displayed. Draws/Ongoing war counts are not correct. Please assign to Cody if backend issue.

[2015-06-15 09:44] jiakeliu commented on #86
Asking Josh to reproduce this issue.

[2015-06-15 09:48] jiakeliu commented on #115
Please use #78 instead.

[2015-06-16 20:19] husseinm commented on #112
Should now be 100% - the update was pushed to TF

[2015-06-16 20:20] husseinm commented on #11
Should now be 100% - please check TF

[2015-06-16 20:27] jiakeliu commented on #112
Minor thing - can we remove that loading animation on Follower/Following and the Follow button?

[2015-06-16 20:30] jiakeliu commented on #112
Why is the count loading so slowly? Is it because of Heroku? Count retrieval should be trivial right?

[2015-06-16 20:31] husseinm commented on #112
Sure, I feel though that it may be a tad bit confusing for the user to
have the buttons and text just simply pop out like that, but not at all
difficult.

On 6/16/2015 4:27 PM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-06-16 20:32] jiakeliu commented on #112
Should not be a problem if they show up quickly. Just making sure it's not an algorithm problem but just a matter of upgrading hosting.

[2015-06-16 20:33] husseinm commented on #112
Not necessarily, it is not a Heroku issue as by the time you are at the
profile page the dyno has spun up and you are communicating with the
server. The issue is that the count is actually getting all the
followers/following user profiles individually and tallying them up,
then displaying that tally.

On 6/16/2015 4:30 PM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | m

[2015-06-16 20:36] jiakeliu commented on #112
Hmm..Okay. I'm going to close this ticket and add to the list of performance improvements to be made in the future.

[2015-06-16 20:36] #112 closed

[2015-06-16 20:37] jiakeliu opened #125 "Performance: Follower/Following count"
Users want to see follower/following count in Profile view show up quicker to avoid confusion

[2015-06-16 20:39] jiakeliu commented on #11
War list doesn't update when I switch between "Draws" and "Ongoing". Won/Lost still show 0 count.

[2015-06-16 20:44] husseinm commented on #11
The Won/Lost counts are zero for you because that is what it correctly is. Check Cody's profile.

I am looking at your profile right now and it does change the war list from 7 to the 1 drawn war that you have. Not sure what is going on for your end, did you update at TF?

[2015-06-16 21:05] jiakeliu commented on #11
I tried reinstalling the app and now I'm stuck at the Thumbwar background image loading screen

[2015-06-16 21:08] husseinm commented on #11
Try to restart your phone with both home + power buttons?

On 6/16/2015 5:05 PM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-06-16 21:11] jiakeliu commented on #11
You know what's wierd? The "Login with Facebook" button is not showing up on the Thumbwar background image page, but when I tap that area where the button is supposed to be, Facebook actually loads up.

[2015-06-16 21:13] jiakeliu commented on #11
Can you try reinstalling the app on your phone and see if you can reproduce that bug?

[2015-06-16 21:14] jiakeliu commented on #11
For my wars, why is the bet I have with Alex showing up in both Draws and Ongoing?

[2015-06-16 21:30] CodySwannGT commented on #11
I'll chime in here.

My guess is it's because we didn't clearly define what these different
statuses are or represent.

For example. We have this "propose an outcome" where the challenger can say
"I won" and the opponent can say "I won".

What happens when the opponent says "I won" and the challenger hasn't
responded yet?

Is that "loss" is that "in_progess"?

What about a thumbwar that is sent to

[2015-06-16 22:12] husseinm commented on #11
So Cody was spot on there for the issue with the war showing up in two
different places. At this point anything with the profile screen is most
likely the server just returning data that does not reflect the changes
we keep making. Unless it is a blatant UI issue and not data related in
any way, like the activity spinners - then it is simply the API not
keeping up with us, just as Cody said.

Rega

[2015-06-16 22:15] jiakeliu commented on #11
In your example, when the opponent says "I Won" and the challenger hasn't responded yet, the war is "in_progress". Essentially until both participants agree to an outcome, the war is always "in_progress".

In the second example, an ignored war should be in a "pending" status that should not show up in the public feed. This maybe a new state that we need to add.

Here are the war status from the UX

[2015-06-16 22:17] jiakeliu commented on #11
@husseinm Sounds good. I'll create a separate bug ticket for the login screen. I think it's a new bug since the button showed up fine in previous versions.

[2015-06-16 22:20] jiakeliu opened #126 "Bug: Facebook signup/login buttons missing from Login page"
In the new version the login/signup buttons no longer show up on the Login page. To reproduce this bug, just reinstall the app from TestFlight.

[2015-06-16 22:45] CodySwannGT commented on #11
And a thumbwar where the two users disagree? That will count as a push
today however, the API is querying challenges not thumbwars.

This is the problem we're going to run into.

Remember. The data model IS NOT

Thumbwar has a challenger and has an opponent.

The data model is:

Thumbwar has a challenger and has many opponents.

We're just constricting it at the UI level to have one opponent.

So

[2015-06-16 23:20] jiakeliu commented on #11
A thumbwar that both users disagree will always be "in_progress" until they
come to an agreement thorugh the back and forth winner declaration with
comment/picture process.  Some wars just require one declaration and the
opponent to accept to close, some may need 10 back and forths, and some may
never close because both sides can't come to an agreement.

On Tuesday, June 16, 2015, Cody Swann <noti

[2015-06-16 23:30] jiakeliu commented on #11
Out of curiosity, what was the decision process behind the one challenger
to many opponents model? Is it for the use case that someone can issue a
challenge and people can take on that challenge at will?

On Tuesday, June 16, 2015, Cody Swann <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-06-16 23:32] husseinm commented on #11
No, it is because he wanted to leave the ability to have multiple
opponents. Remember I believe it was Alex who wanted to have that as a
crucial feature for the MVP?

On 6/16/2015 7:30 PM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-06-16 23:33] CodySwannGT commented on #11
Bob actually. But yeah. Multiple opponents at one point was an absolute
must for the MVP.

On Tuesday, June 16, 2015, Mahdi Hussein <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or

[2015-06-16 23:34] jiakeliu commented on #11
Gotcha. That can be accomplished by our siding feature right?

[2015-06-16 23:35] CodySwannGT commented on #11
Yeah. Well. That's what happened.

Multiple opponents morphed into siding.

And actually, that was a hack, too. Because initially, we wanted the
ability to "follow" a war.

So we hacked the data model for following to have a "side" field.

On Tuesday, June 16, 2015, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunn

[2015-06-16 23:37] husseinm commented on #11
I believe we still need the ability to "follow" a war, that is one of
the features for the ellipses Jiake is having me do. I haven't checked
whether the API supports it yet.

On 6/16/2015 7:35 PM, Cody Swann wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-06-16 23:38] jiakeliu commented on #11
Okay.

Anyway, if we remove the "Draw" tab in Profile view, can that be the short term solution without modifying the data model? So we essentially show Won, Lost, and Ongoing.

[2015-06-16 23:38] jiakeliu commented on #11
@husseinm "Follow war" feature should just be a placeholder button for now in the ellipses drop down menu.

[2015-06-16 23:39] husseinm commented on #11
Not a problem on my side. Jiake, do you want that as a solution?

On 6/16/2015 7:38 PM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-06-16 23:42] jiakeliu commented on #11
How are we currently distinguishing "push" and "in_progress"?

[2015-06-16 23:43] CodySwannGT commented on #11
In response to Mahdi:

SMH. Following IS siding. We agreed that in order to follow, you had to
choose a side to force participation.

If we're changing that now, too, we really are a long ways away from MVP.

In response to Jiake:

My comments were more about regression testing.

It's entirely possible, I get an hour and just nail it and nothing breaks
or anything like that.

It's also possible th

[2015-06-16 23:47] jiakeliu commented on #11
@CodySwannGT Re: follow/siding, I like that, let's keep it. And sounds good about the plan to move forward.

@husseinm, please remove "Follow this Thumbwar" and just have "Report this Thumbwar" as a place holder item in the ellipses drop-down.

[2015-06-16 23:48] CodySwannGT commented on #11
10-4. Will do.

On Tuesday, June 16, 2015, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the individual o

[2015-06-16 23:49] jiakeliu commented on #113
@husseinm per discussion in #11, please remove "Follow this Thumbwar" and just have "Report this Thumbwar" as a place holder item in the ellipses drop-down.

[2015-06-18 01:26] jiakeliu opened #127 "Ability to challenge mutual followers"
Currently a user can't challenge a follower. We need to implement this.

[2015-06-20 18:52] jiakeliu commented on #90
@husseinm the black loading screen is back again in the new version. Can you fix?

[2015-06-20 19:00] husseinm commented on #94
@CodySwannGT I removed all the relevant client side code and will release that today, can you remove the Tutorial alert from the server side?

[2015-06-20 19:05] CodySwannGT commented on #94
deploying now. 3 minutes

On Sat, Jun 20, 2015 at 3:00 PM, Mahdi Hussein <notifications@github.com>
wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use

[2015-06-20 20:09] husseinm commented on #94
Thanks!

[2015-06-22 22:25] #94 closed

[2015-06-22 22:27] jiakeliu commented on #103
Waiting on PT to mock it up.

[2015-06-22 22:29] jiakeliu commented on #127
@CodySwannGT Can we add in this capability since we have the follower system in place now?

[2015-06-22 22:32] CodySwannGT commented on #127
There exists an API method today where you can get a list of people who are following you. That would need to be incorporated into the look ahead.

[2015-06-22 22:33] jiakeliu commented on #127
@husseinm sounds like a front-end change?

[2015-06-22 23:02] husseinm commented on #127
Yup.

[2015-06-22 23:21] jiakeliu commented on #126
Mahdi fixed it.

[2015-06-22 23:21] #126 closed

[2015-06-23 00:49] jiakeliu opened #128 "Bug: remove "$" in the accept war window"

[2015-06-23 00:51] jiakeliu opened #129 "Bug: Declare Winner crashes app"

[2015-06-23 17:24] #128 closed

[2015-06-23 23:27] jiakeliu opened #130 "Notifications"
User needs to get notifications for:

1. When an opponent challenges him
2. When an opponent declared a winner
3. When a war closes (winner declared)

[2015-06-24 02:02] CodySwannGT commented on #130
This is the case with the API - however, We almost definitely need new APNS certs.

I think that's all you have to do - generate the new cert and then I'll install it on the heroku server or show you how to do it.

[2015-06-24 02:03] CodySwannGT commented on #130
This is a perfect tutorial: http://www.raywenderlich.com/32960/apple-push-notification-services-in-ios-6-tutorial-part-1

[2015-06-24 02:04] husseinm commented on #130
Yes I need to update the APNS certs, we are not talking about push notifications though. The issue is when I make the API request for notifications, I do not see notifications in the JSON for types # 1 and 2

[2015-06-24 02:06] CodySwannGT commented on #130
Got it. That wasn't clear from the description. I thought we were calling those "Alerts"?

[2015-06-24 02:07] husseinm commented on #130
Yeah, Sorry about that. You are right they are called Alerts, at least that is what the view is called...

[2015-06-24 02:07] CodySwannGT commented on #130
No worries. Just want to make sure we're all on the same verbiage

[2015-07-02 16:48] husseinm commented on #91
The search function currently only works for Facebook ids (perfect for the Facebook friends functionality, works well). Since we are given a name and told to search for that I am going to need the database to index the names for speed and have the server search the First/Last name columns for the API search method.

[2015-07-06 21:00] husseinm commented on #127
Okay, it is implemented in the latest build now. Everything should also be faster as far as autocomplete goes.

[2015-07-06 21:42] husseinm commented on #120
There appears to be a public/private boolean on the wars JSON output.

Can we get the server to accept a public/private field on JSON POST?
Can we also get the server to only send private wars if the user is a recipient (do no send private wars to a user)? Or should we just implement this client side? Only issue is then we would have a non constant amount of wars before refresh...

[2015-07-06 21:44] husseinm commented on #119
This is already implemented by the backgrounds of the pages since the bar is translucent.

[2015-07-06 21:44] husseinm commented on #103
Done.

[2015-07-06 21:48] husseinm commented on #117
@jiakeliu  @CodySwannGT Is this a duplicate of #110? Not sure how we want to do this.

[2015-07-06 21:50] husseinm commented on #124
This sounds outdated, can you clarify?

[2015-07-06 21:52] husseinm commented on #111
Duplicate of #20

[2015-07-06 21:53] husseinm commented on #59
Mockup?

[2015-07-06 21:58] husseinm commented on #125
This would require either a server side change. Either for a new api method that provides only follower counts and then a separate longer request for the actual list - that would only cut down time ~100ms...

The only way to truly correct this would be to include the data as part of the user profile request so that the counts are included with the won/lost/push counts and the name/basic info of th

[2015-07-06 22:05] husseinm opened #131 "Reestablish Push notifications"
The server currently has an old version of the certificate we need to install a new one so that they get through.

[2015-07-06 22:05] husseinm commented on #131
@CodySwannGT I can get the new cert generated, but can you get it installed on the server?

[2015-07-06 22:16] husseinm commented on #20
@CodySwannGT Can we remove the opened field from alerts (I see no use, but could be wrong).

Also can we only send unread notifications to the client, this way when a user uses the app for a long period of time and has 1000 notifications, they don't have to wait for a huge request to finish.

[2015-07-06 23:21] husseinm commented on #20
@jiakeliu @CodySwannGT Adding the "X Hours ago" feature would require the server to send that information to me, do we still want that? If so, Cody can you add that information for me?

[2015-07-07 15:45] husseinm commented on #20
@jiakeliu I have the X button completed, but would it be more intuitive for the user to simply swipe left to reveal a delete button, or just swipe to delete - as Apple does in the mail app?

[2015-07-09 01:03] jiakeliu opened #132 "Need high res icons for notification page"

[2015-07-09 01:11] husseinm commented on #118
Looks fine just bigger.

[2015-07-09 01:11] husseinm commented on #86
Tested it with 1000 contacts - was fast enought

[2015-07-09 02:14] jiakeliu commented on #20
Discussed and agreed to keep X button for now

[2015-07-09 02:14] jiakeliu commented on #87
Discussed and agreed to add a Settings (gear) icon on user profile screen, which leads to a new screen with Logout as the only option.

[2015-07-09 02:17] jiakeliu opened #133 "Image preview after attachment in bet creation"
After attaching an image, the bet creation screen should look something like this (stacked cards effect):

![screenshot 2015-07-08 19 13 16](https://cloud.githubusercontent.com/assets/1039583/8586625/b10b6932-25a5-11e5-9023-215e305bf005.png)

When user taps the image portion, a full preview of the image pops up with a "Remove" button overlaying the bottom of the image. Tapping it removes the image

[2015-07-09 02:20] #115 closed

[2015-07-09 02:21] #113 closed

[2015-07-09 02:24] #11 closed

[2015-07-09 02:25] #125 closed

[2015-07-09 02:30] jiakeliu commented on #124
See the red arrow. This blue bar should be stretched across the screen just like how it looks like in the Home feed.

![img_1157](https://cloud.githubusercontent.com/assets/1039583/8586779/bfc81cde-25a7-11e5-86cd-8f579745b546.PNG)

[2015-07-09 02:31] jiakeliu commented on #123
After attaching an image, the bet creation screen should look something like this (stacked cards effect):

![screenshot 2015-07-08 19 13 16](https://cloud.githubusercontent.com/assets/1039583/8586802/f6205404-25a7-11e5-9def-faa0fa4cbc53.png)

When user taps the image portion, a full preview of the image pops up with a "Remove" button overlaying the bottom of the image. Tapping it removes the image

[2015-07-09 02:32] jiakeliu commented on #133
duplicate.

[2015-07-09 02:32] #133 closed

[2015-07-09 02:32] #119 closed

[2015-07-09 02:34] jiakeliu commented on #116
@husseinm how do i view the followers page? shouldn't I be able to see it if I tap on someone's Follower/Following count?

[2015-07-09 02:34] #111 closed

[2015-07-09 02:35] #90 closed

[2015-07-09 02:35] #86 closed

[2015-07-09 02:37] jiakeliu commented on #77
@husseinm I don't like how the screen is currently laid out. Can we lose the "Search" button and use the magnifying glass icon at the right of the search bar instead?

Also, can we move "Search for friends via:" along with the 4 buttons to the top of the screen like shown in the mockup?

[2015-07-09 02:37] jiakeliu commented on #59
This is not in MVP. Moving to Future Consideration.

[2015-07-09 02:38] #50 closed

[2015-07-09 02:40] jiakeliu commented on #8
I'm still seeing "AB: Mahdi Hussein" instead of "[Phone Icon] Mahdi Hussein" in the user lookup in new bet screen.

[2015-07-09 02:43] jiakeliu commented on #127
The intended behavior is that you can only challenge people who also followed you back. Right now I can challenge a user as long as I follow him. Can we fix, @husseinm ?

[2015-07-09 02:46] jiakeliu opened #134 "Long comment text not showing up correctly"
See pic below, the text in the second comment is squished/cropped. Can we make the comment box expandable to fit entire comment?

![img_1158](https://cloud.githubusercontent.com/assets/1039583/8586945/1423c57e-25aa-11e5-87ed-52259ca5ac7d.PNG)

[2015-07-09 03:01] husseinm commented on #116
Followers page was intended as the search page, I believe this was a duplicate

Do you want to list users on click of followers/following?

[2015-07-09 03:02] jiakeliu commented on #116
Ah, I misunderstood this ticket then. Should we start another ticket for Followers/Following? Or can you just use this ticket?

[2015-07-09 03:07] husseinm commented on #116
No Problem, this ticket will work.

[2015-07-09 22:55] jiakeliu opened #135 "Long comment text not showing up correctly"
See pic below, the text in the second comment is squished/cropped. Can we make the comment box expandable to fit entire comment?

![img_1158](https://cloud.githubusercontent.com/assets/1039583/8586945/1423c57e-25aa-11e5-87ed-52259ca5ac7d.PNG)

[2015-07-10 20:38] #129 closed

[2015-07-10 20:39] jiakeliu commented on #103
Don't see the Trophy/Crown showing up near the user portrait?

[2015-07-10 20:40] #78 closed

[2015-07-10 20:40] #75 closed

[2015-07-10 20:48] jiakeliu opened #136 "Accept challenge screen"
Currently the accept challenge screen looks very bare. Please update it with this design:
![war_accept_decline](https://cloud.githubusercontent.com/assets/1039583/8628732/3f70def4-270a-11e5-93ff-3ef2047c8da1.jpg)

Ignore "Report Abuse" and "Contact User" buttons at the bottom of the screen for now.

[2015-07-10 20:57] #117 closed

[2015-07-10 20:59] jiakeliu opened #137 "Accept challenge screen"
Currently the accept challenge screen looks very bare. Please update it with this design:
![war_accept_decline](https://cloud.githubusercontent.com/assets/1039583/8628732/3f70def4-270a-11e5-93ff-3ef2047c8da1.jpg)

Ignore "Report Abuse" and "Contact User" buttons at the bottom of the screen for now.

[2015-07-10 20:59] #137 closed

[2015-07-10 21:00] jiakeliu opened #138 "You Lost popup"
Opposite of You Won popup.

![war_notification_lose](https://cloud.githubusercontent.com/assets/1039583/8628969/f9592654-270b-11e5-91b4-0cbd9077e480.jpg)

[2015-07-10 21:13] #89 closed

[2015-07-10 21:13] #88 closed

[2015-07-10 21:13] #9 closed

[2015-07-10 22:04] CodySwannGT commented on #120
It actually will. It's just undocumented.

BTW - as I'm updating the API, I don't think I'm updating the docs. Let me know where it's lacking - or feel free to update it your self.

[2015-07-10 22:04] CodySwannGT commented on #120
and the field is named "public"

[2015-07-10 22:12] CodySwannGT commented on #91
Couple things

* The API /users?search=<string> will return matches for email, mobile number and username. So /users?search=codyswann will return me.

* I'm going to implement this such that First Name will be everything Before the last space and Last name will be everything after the last space.

search=?Mary%20Beth%20Leonard will perform a search where(first_name == 'Mary Beth' && last_name == '

[2015-07-10 22:23] CodySwannGT commented on #91
deploying now. Will require the parsed string to have a first name and last name

[2015-07-10 22:43] husseinm commented on #91
@jiakeliu would that be okay - a user can only be searched for by BOTH first and last?
On Jul 10, 2015 6:23 PM, Cody Swann <notifications@github.com> wrote:deploying now. Will require the parsed string to have a first name and last name

—Reply to this email directly or view it on GitHub.

[2015-07-10 22:43] husseinm commented on #91
It should also already be in the current build not front end changes
On Jul 10, 2015 6:23 PM, Cody Swann <notifications@github.com> wrote:deploying now. Will require the parsed string to have a first name and last name

—Reply to this email directly or view it on GitHub.

[2015-07-10 22:47] CodySwannGT commented on #91
Actually, I'll just make it so that if there is no space, it will search only first name

[2015-07-10 23:00] CodySwannGT commented on #130
1 and 2 were already there. 3 is deploying now

[2015-07-10 23:01] jiakeliu commented on #91
Can we implement fuzzy search so even if I just type Mah it will return
Mahdi Hussein?

On Friday, July 10, 2015, Cody Swann <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-07-10 23:02] CodySwannGT commented on #91
Sure

On Fri, Jul 10, 2015 at 7:01 PM, Jiake Liu <notifications@github.com> wrote:

--
 Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com
<http://www.gunnertech.com/>Skype: cody.swann

*CONFIDENTIALITY NOTICE: This email message, together with any documents,
files and/or email messages attached to it, is intended for the sole use of
the individual or en

[2015-07-10 23:04] CodySwannGT commented on #91
deploying now

[2015-07-14 02:37] jiakeliu opened #139 "Siding on Home feed"
Alex and Bob both strongly push for the inclusion of easy siding on the home feed for our MVP release. The reasoning is that this is Thumbwar's version of "Like", which encourages user interaction.

Implementation:

On the Home feed, instead of using a darker blue background color for the left user name and a lighter one for the right user name, let's use the lighter blue background for both, whil

[2015-07-14 23:29] husseinm opened #140 "Profile Page scroll with page"
When a user scrolls into a war won/lost/etc. list the top scrolls as well as though it is a cell.

[2015-07-14 23:40] husseinm commented on #135
Duplicate of #134

[2015-07-15 04:08] husseinm commented on #20
@jiakeliu I am about to push to TF - this issue is almost complete, only missing the date (x hours ago, will have to talk to @CodySwannGT about that) and the view challenge button. Do we still want that button? If you press the alert it will still bring you to the challenge regardless... If so how do I take care of that, should we make the cell only view challenge on the press of the button or sti

[2015-07-15 07:03] husseinm commented on #130
I think this was fixed by Cody

[2015-07-15 07:25] #139 closed

[2015-07-15 07:25] #135 closed

[2015-07-15 07:25] #134 closed

[2015-07-15 07:26] #124 closed

[2015-07-15 07:26] #77 closed

[2015-07-15 07:27] jiakeliu commented on #91
@CodySwannGT is fuzzy search in place? When I type in "Mah" Mahdi doesn't show up in the search results

[2015-07-15 07:32] jiakeliu opened #141 "Animation change"
When tapping on a war, the war detail screen displays with a "Slide Up" animation. Can we use "Slide Left" animation instead?  So the screen enters from the right side, and when the user taps the back arrow the screen exits to the right side.

[2015-07-15 07:35] jiakeliu opened #142 "Bug: Preview image doesn't go away"
Bug repro:

1. Create a new war and make sure to attach an image
2. Declare War
3. After the new war shows up on the home feed, create a new war, and you will see the preview image from last creation still showing up in the new war creation screen

[2015-07-15 07:46] jiakeliu commented on #130
This is about the events showing up on the Alerts page, right? Do we have a ticket to fix the push notifications?

[2015-07-15 18:08] husseinm commented on #130
Yes and No, we will use this for both issues.

[2015-07-15 18:54] husseinm commented on #141
I don't have that option as a transition, the ones available I have in this video here.

Sorry for the youtube quality encoding, it got downscaled by google. It is shared privately with you:
https://youtu.be/OfZI7O0GRXY

[2015-07-15 22:22] jiakeliu commented on #141
Can you check out bullet points 3 and 4 in this article and let me know if this is an easy change? This item is just a nice-to-have, not high priority:

http://mathewsanders.com/animated-transitions-in-swift/

[2015-07-15 22:33] husseinm commented on #141
On 7/15/15 6:22 PM, Jiake Liu wrote:

Well I never knew about those. So it is possible, will do.

[2015-07-15 22:41] jiakeliu commented on #141
It's under the Custom Transition Animations header

[2015-07-15 23:08] jiakeliu commented on #130
okay, so i'll assign the ticket back to you until the push notification is fixed.

[2015-07-16 01:32] jiakeliu commented on #132
Also need the AB logo in War creation screen

[2015-07-16 06:38] jiakeliu commented on #132
Alerts Page Speech Bubble (For comments alert)

![iconmonstr-speech-bubble-14-icon-256](https://cloud.githubusercontent.com/assets/1039583/8716877/3108a4fc-2b4a-11e5-8316-68dd31e7268a.png)

[2015-07-16 06:39] jiakeliu commented on #132
Smartphone logo (to replace AB: )
![iconmonstr-smartphone-4-icon-256](https://cloud.githubusercontent.com/assets/1039583/8716933/c2487b68-2b4a-11e5-9678-e25638a826bc.png)

[2015-07-16 06:42] jiakeliu commented on #132
@husseinm what other alert icons do you need besides the speech bubble?

[2015-07-16 06:53] husseinm commented on #132
On 7/16/15 2:42 AM, Jiake Liu wrote:

The Check mark and the Following icons. (The icons with a circle + check
mark and the icon with person and a plus on top - these are fallback
icons in case a users profile pic fails to upload)

Do we also want a facebook icon instead of FB: and a TW icon instead of
TW: on the challenge? I can pull those icons from the web or from our
app pic...

[2015-07-16 07:31] jiakeliu commented on #132
Please read the comments in the ticket about the AB: and FB: icons. We are removing the FB option altogether (you can't challenge a FB friend who is not already on TW).

Instead of TW icon, use user profile pic.

Will get you the check mark and follower icons

[2015-07-16 07:35] husseinm commented on #132
Sorry forgot about that, I actually already removed the FB option...

On 7/16/15 3:31 AM, Jiake Liu wrote:

[2015-07-16 07:42] jiakeliu commented on #132
Just emailed you check mark and follower icons

[2015-07-16 07:54] husseinm commented on #132
Got everything - looking good.

On 7/16/15 3:42 AM, Jiake Liu wrote:

[2015-07-16 18:32] husseinm commented on #132
Hey just discovered that I also need a single comment bubble (the home feed bubble) and the unwind button  (the back arrow) and the ellipses. Can you please also get those? Sorry for not noticing it early.

[2015-07-16 19:23] husseinm commented on #20
Should be fixed by the latest release.

[2015-07-16 19:40] husseinm opened #143 "Make all profile pics go to Profile page"

[2015-07-16 19:42] husseinm opened #144 "Add blinker to comment textfield & Remove comment duplication"
Currently when you type in the comment box the blinking cursor is missing.

Also if you hit the add button twice your comment is duplicated.

[2015-07-16 19:56] husseinm commented on #144
Should be corrected in latest release

[2015-07-16 20:29] jiakeliu commented on #132
Mahdi I'm occupied today with my day job, can you go to monstr icon and
search for those logos? That's what I did for the other logos

On Thursday, July 16, 2015, Mahdi Hussein <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-07-16 20:32] husseinm commented on #132
Gotcha, no problem.

On 7/16/15 4:29 PM, Jiake Liu wrote:

[2015-07-17 02:01] jiakeliu opened #145 "Update Create War button visual"
Change the "rectangle and plus" logo to "hexagon and plus"
(mockup to folow)

[2015-07-17 02:37] #144 closed

[2015-07-17 02:39] #132 closed

[2015-07-17 07:20] jiakeliu commented on #120
@husseinm there's a bug in the new build - it always shows as "Private war with opponent" in the war creation screen no matter which option I choose

[2015-07-17 07:20] #118 closed

[2015-07-17 07:25] jiakeliu opened #146 "Winner declaration UI update"
The "Add Image" button in the winner declaration should look like the one in war creation screen, where the text is gone and just leave the camera icon. The button should also be a "tab" below the text box.

This is how it currently looks, which isn't consistent to the war creation screen.
![file jul 17 12 14 21 am](https://cloud.githubusercontent.com/assets/1039583/8742443/4179d9fc-2c1a-11e5-9646

[2015-07-17 07:37] jiakeliu commented on #146
While you are at it, let's use this camera logo, since the previous one is low res:
![custom-icon-design-mono-general-3-camera](https://cloud.githubusercontent.com/assets/1039583/8742617/f0073928-2c1b-11e5-9d88-8d086c53bfef.png)

[2015-07-17 09:09] jiakeliu opened #147 ""All" and "Me" toggle"
Per email conversation, let's add a toggle at the top of the public feed that toggles between "All" and "Me", which shows all wars and only my wars respectively.

The same toggle is also in the Profile page, which also updates the counters for wins, loses, draws, and actives between you and one specific user. So if you go to Bobs profile page, you can toggle "All" and  "Me" to see all his wars and

[2015-07-17 20:56] jiakeliu opened #148 "Text in the comment field needs to be darker"
Use black font instead of the gray font in the comment text field

[2015-07-17 22:35] #20 closed

[2015-07-17 22:35] jiakeliu commented on #91
Fixed!

[2015-07-17 22:35] #91 closed

[2015-07-19 18:32] husseinm commented on #123
Change accept challenge

[2015-07-19 18:47] jiakeliu commented on #116
-Use Results page design
-"Results" change to specific "Following" or "Followers" text
-Bleed to the edge
-change "Tap for Profile" to show "@username"

[2015-07-19 19:05] jiakeliu commented on #145
![hexagon](https://cloud.githubusercontent.com/assets/1039583/8767344/67b72e08-2e0e-11e5-96da-5e8ab0ab44b4.png)

[2015-07-20 01:38] #148 closed

[2015-07-20 01:39] jiakeliu commented on #146
The attach image button doesn't work on the winner declaration page. Also, can you make the logo white instead of black?

[2015-07-20 01:45] jiakeliu commented on #116
App crashes when I tap someone's profile in the Following/Folower list.

[2015-07-20 01:46] #141 closed

[2015-07-20 02:15] #136 closed

[2015-07-20 02:15] #110 closed

[2015-07-20 06:50] #146 closed

[2015-07-20 06:50] #143 closed

[2015-07-20 06:51] #116 closed

[2015-07-20 06:52] #145 closed

[2015-07-20 06:52] jiakeliu opened #149 "Add "VS" to top bar"

[2015-07-20 06:52] #149 closed

[2015-07-20 07:50] jiakeliu commented on #8
@husseinm Can we cram this in this iteration?

[2015-07-20 07:59] jiakeliu opened #150 "Modify "Who Won" screen to match war detail top bar"
Update the "Who Won" screen top slider to the new "VS" top bar in the war detail view.

[2015-07-20 08:01] jiakeliu opened #151 "Comment time stamp"
Show time stamp for each comment. Placement: right adjust in the same row as the name.

[2015-07-20 08:03] jiakeliu opened #152 "Update time stamp display format"
Just like the time stamp in Instagram, instead of the "4 Days Ago" in the war detail view, just use "4d"

d for Days
m for Minutes
h for Hours

[2015-07-20 08:09] husseinm commented on #150
On 7/20/15 3:59 AM, Jiake Liu wrote:

Already done Jiake...

[2015-07-21 08:52] jiakeliu commented on #150
Who Won screen still has the slider instead of how it looks on the home feed or detail view?

[2015-07-21 08:55] husseinm commented on #150
Will do in this release
On Jul 21, 2015 4:52 AM, Jiake Liu <notifications@github.com> wrote:Who Won screen still has the slider instead of how it looks on the home feed or detail view?

—Reply to this email directly or view it on GitHub.

[2015-07-21 08:59] jiakeliu commented on #150
Did you not sleep or you already woke up?

[2015-07-21 09:08] husseinm commented on #150
Not sleep - HackerNews is too interesting...
On Jul 21, 2015 4:59 AM, Jiake Liu <notifications@github.com> wrote:Did you not sleep or you already woke up?

—Reply to this email directly or view it on GitHub.

[2015-07-23 07:29] #150 closed

[2015-07-23 07:30] #127 closed

[2015-07-23 07:30] #8 closed

[2015-07-23 07:31] #142 closed

[2015-07-25 02:14] husseinm opened #153 "Fix default pic on Results"

[2015-07-25 02:14] husseinm opened #154 "Make back go back to home only for Bet Result (disagreement)"

[2015-07-25 02:19] husseinm opened #155 "Popups on App start"
1. War Acceptance
2. Winner Declared (Evidence)
3. Won Occurred

1 is already implemented

[2015-07-25 18:58] husseinm opened #156 "Preview on evidence."

[2015-07-25 18:59] husseinm opened #157 "Image Posting Issue (NSURL)"

[2015-07-26 00:03] husseinm commented on #155
All with exception of 3 are done.

[2015-07-26 00:04] husseinm opened #158 "Prepare Heroku endpoint for production"

[2015-07-26 15:23] CodySwannGT commented on #158
All set. endpoint is thumbwar-api.herokuapp.com

[2015-07-28 17:44] husseinm opened #159 "Fix Popup Limitation"
The popups only popup currently when they are one of the visible 10 wars. We should create a backend API request that allows us to request all popup events on startup.

[2015-07-29 00:25] jiakeliu opened #160 "BUG: Stake field comment overflow"
See Bob's example war with Call of Duty:

![img_1579](https://cloud.githubusercontent.com/assets/1039583/8947254/9180a2f0-354d-11e5-856d-f8c1283b9765.png)

Let's mimic the detail view where the text is resized to fit the stake bar.

EDIT: also seeing this on war acceptance screen:

![img_1580](https://cloud.githubusercontent.com/assets/1039583/8947746/869a4958-3553-11e5-8647-2a9dd92105aa.png)

[2015-07-29 01:08] jiakeliu opened #161 "Change "You" to user name"

[2015-07-29 10:39] jiakeliu commented on #155
@husseinm we still can't have the Won Occured popup?

[2015-07-29 10:39] #35 closed

[2015-07-29 13:11] husseinm commented on #155
It is now working. The only issue with popups as a whole is that they
only work when your war is in the feed.

On 7/29/2015 6:39 AM, Jiake Liu wrote:

--
Mahdi Hussein
m@hdihusse.in <mailto:m@hdihusse.in> | mahdihusse.in

[2015-07-30 00:38] #160 closed

[2015-07-30 00:38] #155 closed

[2015-07-30 00:40] jiakeliu opened #162 "BUG: App crashes when I close a WINNER pop up screen"

[2015-08-04 01:41] #156 closed

[2015-08-04 08:13] #154 closed

[2015-08-04 08:13] #153 closed

[2015-08-04 08:13] #103 closed

[2015-08-04 08:14] #158 closed

[2015-08-04 08:17] jiakeliu commented on #147
@husseinm This ticket is a priority

[2015-08-04 08:19] jiakeliu commented on #140
As user scrolls up, can we make the win/lost/etc counter stick to the top?

[2015-08-04 09:14] jiakeliu opened #163 "New home feed design"
Implement the new Thumbwar content screen design from PT.

[2015-08-04 09:14] #161 closed

[2015-08-04 09:15] jiakeliu commented on #162
Still happens after I click on View War and then go back to the winner pop up to close it.

[2015-08-04 09:36] jiakeliu opened #164 "Add "Follow" button in Follower/Following list"
Add the button next to each user to quickly follow people. The button turns into a check mark after successful follow just like Twitter. Design mockup: (ignore SUGGESTIONS and Popular at top)

![suggestions_v2](https://cloud.githubusercontent.com/assets/1039583/9057858/ca4176f6-3a51-11e5-9753-58b93eb4f75f.jpg)

[2015-08-04 09:40] jiakeliu opened #165 "A participant shouldn't be able to pick a side"
By default, either one of the two participants cannot pick sides, since they are always defaulting to their own side. Instead of default to side with oneself, let's remove the ability to side altogether, so once we implement the siding counter, it starts with 0 instead of 1 (oneself).

[2015-08-04 09:42] jiakeliu opened #166 "Unside without switching sides"
Tapping the side button again should unside, this way a user can withdraw from siding with either party instead of having to pick one.

[2015-08-04 09:44] jiakeliu opened #167 "Bet countering"
When I receive a challenge, aside from Accept, Reject, I should have a third option to Counter. The mechanic should work similarly with the winner declaration flow (where both sides have to agree to an outcome, in this case a bet). The bet should not show up to the home feed unless both sides agree. And by tapping "Counter Bet" the user should be able to edit the Content, the stake, as well as the

[2015-08-04 09:49] jiakeliu opened #168 "Thumbwar branding for background image"
Instead of the brown background, wars without an image attached should default to a Thumbwar branded background picture.

Waiting on PT's mockup.

[2015-08-04 18:34] husseinm commented on #167
This would ideally work by not touching the state flag.

Only creating a "last user to modify" flag for me to check and work by POSTing the war to modify the contents.

Overall the only necessary backend requirement would be the creation of a "last_user_to_counter" field in the Thumbwar model. The rest can be handled with the existing API

Most of this is frontend.

[2015-08-04 18:35] husseinm commented on #165
So since the user defaults to no sides in the first place. Simply disable the siding button for the user if it is their own war - thus so they cant side on the front-end at all.

Simple fix.

[2015-08-04 18:37] husseinm commented on #140
Yes.

[2015-08-04 18:38] jiakeliu commented on #140
Let's do it!

[2015-08-05 17:03] husseinm commented on #147
I am adding the home feed now.

I currently do not have the ability to retreive wars between you and a specific person, much less the wins/losses and pushes. That requires a server change...

[2015-08-06 01:30] husseinm commented on #165
Apply logic fix.

[2015-08-13 00:45] #168 closed

[2015-08-13 00:49] jiakeliu commented on #163
Let's add the "Declare" button.

[2015-08-13 00:57] #147 closed

[2015-08-13 00:58] jiakeliu commented on #165
Need to fix for the winner declaration screen.

[2015-08-13 00:59] #162 closed

[2015-08-17 19:28] jiakeliu opened #169 "Add Invite button on the Search Contacts page"
Invite button next to each contact on the Search Contacts page.

Pushing the Invite button takes the user to a pre-populated SMS text ready to be sent to the contact.

The copy should read "Check out the bets I made with my friends on Thumbwar: download link"

[2015-08-17 20:12] jiakeliu opened #170 "Challenge via phone number / SMS onboarding"
When User A challenges a contact or phone number (user B), User B gets an app download link.

User B UX flow:

1) User downloads the app and logs in for the first time, signs in with Facebook.
2) New screen here to input phone number (number pad keyboard) and taps "Send Confirmation Code" button
3) User receives a text msg with the confirmation code, at this point it'd be best to auto-populate the

[2015-08-17 22:41] jiakeliu opened #171 "Share/Brag Feature"
Ability to share ongoing and finished wars on social media and SMS/Email. Need design work.

[2015-08-17 22:43] jiakeliu opened #172 "Sound effects"
Boxing bell sound for war declaration

[2015-08-17 23:14] jiakeliu commented on #172
examine alert body then and apply to only those 2 alert types

[2015-08-17 23:14] jiakeliu commented on #172
Can't attach the sound file. Please see email for the attachment.

[2015-08-20 00:59] #164 closed

[2015-08-20 01:00] #123 closed

[2015-08-20 01:04] #157 closed

[2015-08-20 01:10] husseinm opened #174 "Siding for Closure Redesign"
Use new war detail user bar but with TW Logo/White splitter in middle

[2015-08-20 01:12] jiakeliu commented on #163
Keep "..." and the only item available is "Report War" for now

[2015-08-21 04:34] husseinm opened #175 "Update Post multiline"
Make stake + bet multi line

Limit stake to 140 chars.

[2015-08-25 00:28] husseinm commented on #165
Just making sure you know this has already been fixed.

[2015-08-25 00:29] husseinm commented on #138
For Chris